In [ ]:
# IMPLEMENTATION OF INHERITENCE IN PYTHON

class Item:
  # data members
  itemcode=101
  title="waterbottle"
  price=188.99
  color="blue"
  quantity=1000
  company="milton"
  #function members
  def ShowItem(self):
    print(self.itemcode,"\t",self.title,"\t",self.price,"\t",self.color,"\t",self.quantity,"\t",self.company)
  def Inputitem(self):
    self.itemcode=int(input("Enter Item code: "))
    self.title=input("Enter Item Name : ")
    self.price=float(input("Enter Item unit cost: "))
    self.color=input("Enter item color: ")
    self.quantity=int(input("Enter Item quantity: "))
    self.company=input("Enter Item brand: ")
  def UpdateItemPrice(self):

     itemcost=float(input("Enter new Item cost: "))
     self.price=itemcost

In [ ]:
item1=Item()
item1.ShowItem()

item2=Item()

item2.itemcode=102
item2.title="Keyboard"
item2.price=1299.00
item2.color="black"
item2.quantity=1200
item2.company="Hp"
item2.ShowItem()
item3=Item()
item3.Inputitem()
item3.ShowItem()
item3.UpdateItem()
item3.ShowItem()

101 	 waterbottle 	 188.99 	 blue 	 1000 	 milton
102 	 Keyboard 	 1299.0 	 black 	 1200 	 Hp
Enter Item code: 111
Enter Item Name : mouse
Enter Item unit cost: 199.00
Enter item color: red
Enter Item quantity: 10
Enter Item brand: hp
111 	 mouse 	 199.0 	 red 	 10 	 hp
Enter Item Price: 299.00
Enter new Item cost: 399.00
111 	 mouse 	 399.0 	 red 	 10 	 hp

In [ ]:
class Animal:
  name="Tiger"
  category="Bengal Tiger"
  color="brown to black"
  height="3feet"
  weight=120
  def Getdata(self):
    self.name=input("Enter animal name:-")
    self.category=input("Enter animal category:-")
    self.color=input("Enter animal color:-")
    self.height=input("Enter animal height:-")
    self.weight=input("Enter animal weight:-")
  def Showanimal(self):
    print("Animal Details")
    print(self.name,"\t",self.category,"\t",self.color,"\t",self.height,"\t",self.weight,"\t",)
  def Eat(self):
    print("Tiger eats meat or dead Animal")
  def Sound(self):
    print("Tiger Raoring .......")
  def Move(self):
    print("Tiger Running and jumping very fastly......")

#main()
t1=Animal()
t1.Showanimal()
t1.Eat()
t1.Sound()
t1.Move()

a1=Animal()
a1.Getdata();
a1.Showanimal()

a2=Animal()
a2.Getdata()
a2.Showanimal()

Animal Details
Tiger 	 Bengal Tiger 	 brown to black 	 3feet 	 120
Tiger eats meat or dead Animal
Tiger Raoring .......
Tiger Running and jumping very fastly......
Enter animal name:-Dog
Enter animal category:-pet
Enter animal color:-black
Enter animal height:-2
Enter animal weight:-30
Animal Details
Dog 	 pet 	 black 	 2 	 30
Enter animal name:-camel
Enter animal category:-animal
Enter animal color:-yellow
Enter animal height:-10feet
Enter animal weight:-500kg
Animal Details
camel 	 animal 	 yellow 	 10feet 	 500kg

In [ ]:
class Calculator:
  def __init__(self,num1,num2):
    self.num1= num1
    self.num2=num2
  def Display(self):
    print("number1=",self.num1)
    print("Number2=",self.num2)
  def add(self):
    print("sum is ",(self.num1+self.num2))
  def sub(self):
    print("sub is ",(self.num1-self.num2))
  def mul(self):
    print("mul is ",(self.num1*self.num2))

  def div(self):
    print("div is ",(self.num1/self.num2))

In [ ]:
if __name__=='__main__':
  c1=Calculator(888,99)
  c1.Display()
  c1.add()
  c1.sub()
  c1.mul()
  c1.div()

number1= 888
Number2= 99
sum is  987
sub is  789
mul is  87912
div is  8.969696969696969

In [ ]:
class Person:
  def __init__(self, name, age,address,city,salary):
    self.name = name
    self.age = age
    self.address=address
    self.city=city
    self.salary=salary
  def Show(self):
    print("person Details:",self.name,"\t", self.age,"\t",self.address,"\t",self.city,"\t",self.salary)

In [ ]:
p1=Person("Harsh",19,"azadpur","delhi",12000)
p1.Show()
p2=Person("Shamun",19,"azadpur","delhi",12000)
p2.Show()

person Details: Harsh 	 19 	 azadpur 	 delhi 	 12000
person Details: Shamun 	 19 	 azadpur 	 delhi 	 12000

In [ ]:
# Python exception
x="hello world"
try:
  print(x)
except:
  print(" X is not defined")
msg="Good morning India"
print(msg)

hello world
Good morning India

In [ ]:
# prompt: numpy methods

import numpy as np

# Create a numpy array
arr = np.array([1, 2, 3, 4, 5])

# Get the shape of the array
print(arr.shape)

# Get the data type of the array
print(arr.dtype)

# Get the size of the array in bytes
print(arr.nbytes)

# Get the number of dimensions of the array
print(arr.ndim)

# Get the total number of elements in the array
print(arr.size)

# Get the minimum value in the array
print(arr.min())

# Get the maximum value in the array
print(arr.max())

# Get the mean value of the array
print(arr.mean())

# Get the median value of the array
print(np.median(arr))

# Get the standard deviation of the array
print(arr.std())

# Get the variance of the array
print(arr.var())

# Get the sum of the array
print(arr.sum())

# Get the product of the array
print(arr.prod())

# Get the cumulative sum of the array
print(np.cumsum(arr))

# Get the cumulative product of the array
print(np.cumprod(arr))

# Get the sorted array
print(np.sort(arr))

# Get the unique elements in the array
print(np.unique(arr))

# Get the indices of the elements in the array that are equal to a given value
print(np.where(arr == 3))

# Get the indices of the elements in the array that are greater than a given value
print(np.where(arr > 3))

# Get the indices of the elements in the array that are less than a given value
print(np.where(arr < 3))

# Get the indices of the elements in the array that are equal to a given value and greater than a given value
print(np.where((arr == 3) & (arr > 3)))

# Get the indices of the elements in the array that are equal to a given value and less than a given value
print(np.where((arr == 3) & (arr < 3)))

# Get the indices of the elements in the array that are not equal to a given value
print(np.where(arr != 3))

# Get the indices of the elements in the array that are not greater than a given value
print(np.where(arr <= 3))

# Get the indices of the elements in the array that are not less than a given value
print(np.where(arr >= 3))

# Get the indices of the elements in the array that are not equal to a given value and greater than a given value
print(np.where((arr != 3) & (arr > 3)))

# Get the indices of the elements in the array that are not equal to a given value and less than a given value
print(np.where((arr != 3) & (arr < 3)))

# Get the indices of the elements in the array that are not equal to a given value and not greater than a given value
print(np.where((arr != 3) & (arr <= 3)))

# Get the indices of the elements in the array that are not equal to a given value and not less than a given value
print(np.where((arr != 3) & (arr >= 3)))

# Get the indices of the elements in the array that are not equal to a given value and not equal to a given value
print(np.where((arr != 3) & (arr != 4)))

# Get the indices of the elements in the array that are not equal to a given value and not equal to a given value and not equal to a given value
print(np.where((arr != 3) & (arr != 4) & (arr != 5)))

# Get the indices of the elements in the array that are not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value
print(np.where((arr != 3) & (arr != 4) & (arr != 5) & (arr != 6)))

# Get the indices of the elements in the array that are not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value
print(np.where((arr != 3) & (arr != 4) & (arr != 5) & (arr != 6) & (arr != 7)))

# Get the indices of the elements in the array that are not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value
print(np.where((arr != 3) & (arr != 4) & (arr != 5) & (arr != 6) & (arr != 7) & (arr != 8)))

# Get the indices of the elements in the array that are not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value
print(np.where((arr != 3) & (arr != 4) & (arr != 5) & (arr != 6) & (arr != 7) & (arr != 8) & (arr != 9)))

# Get the indices of the elements in the array that are not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value
print(np.where((arr != 3) & (arr != 4) & (arr != 5) & (arr != 6) & (arr != 7) & (arr != 8) & (arr != 9) & (arr != 10)))

# Get the indices of the elements in the array that are not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value
print(np.where((arr != 3) & (arr != 4) & (arr != 5) & (arr != 6) & (arr != 7) & (arr != 8) & (arr != 9) & (arr != 10) & (arr != 11)))

# Get the indices of the elements in the array that are not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value
print(np.where((arr != 3) & (arr != 4) & (arr != 5) & (arr != 6) & (arr != 7) & (arr != 8) & (arr != 9) & (arr != 10) & (arr != 11) & (arr != 12)))

# Get the indices of the elements in the array that are not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value
print(np.where((arr != 3) & (arr != 4) & (arr != 5) & (arr != 6) & (arr != 7) & (arr != 8) & (arr != 9) & (arr != 10) & (arr != 11) & (arr != 12) & (arr != 13)))

# Get the indices of the elements in the array that are not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value and not equal to a given value
print(np.where((arr != 3) & (arr != 4) & (arr != 5) & (arr != 6) & (arr != 7) & (arr != 8) & (arr != 9) & (arr != 10) & (arr != 11) & (arr != 12) & (arr != 13) & (arr != 14)))

# Get the indices of the elements

In [ ]:
a=90
b=88
try:
  c=a+b
  print("c=",c)
except:
  print(" type  error in code ")

print("Have a good day")

c= 178
Have a good day

In [ ]:
dict1={"id":101,"name":"harish","age":22}
try:
  print(dict1["age"])
except:
  print("key Error")
else:
  print(dict1)

finally:
  print("have a great day")

22
{'id': 101, 'name': 'harish', 'age': 22}
have a great day

In [ ]:
a=123
b=7
try:
  y=a/b
except:
  print("divisor can't be zero")
else:
  print("y=",y)

y= 17.571428571428573

In [ ]:
num=[66,88,99,45,34]
try:
  print(num[5])
except:
 print("Out of index range")
try:
  s=sum(num)
  m=max(num)
except:
  print("error")
else:
  print("sum=",s)
  print("max value is ",m)

Out of index range
sum= 332
max value is  99

In [ ]:
#*****************HOME WORK********************


#create an empty list and write function to perform following operation-
#all the operations are bind into a menu for make it user interact.

#1.AddItem
#2.DisplayItem
#3.CountItem
#4.ComputeTotal
#5.FindMax
#6.FindMin
#7.InsertItem
#8.UpdateItem
#9.RemoveItem
#10.SearchItem

In [ ]:
mylist=[]

In [ ]:
def Additem():
    item=int(input("Enter any number:"))
    mylist.append(item)
    print("Data added")

def DisplayItem():
  print(mylist)



def menu():
  m='''#1.AddItem
      #2.DisplayItem
      #3.CountItem
      #4.ComputeTotal
      #5.FindMax
      #6.FindMin
      #7.InsertItem
      #8.UpdateItem
      #9.RemoveItem
      #10.SearchItem
      # 0. Exit '''
  print(m)

In [ ]:
menu()
while(1):
  op=int(input("Enter option value:-"))
  if op==1:
    Additem()
  if op==2:
    DisplayItem()
  if op==0:
    exit()

In [ ]:
from re import L
num=14545425
n=str(num)
a=int(n[0])
b=int(n[-1])
s=a+b
print(s)

l=num%10

while(num!=0):
  d=num%10
  num=num//10
s1=d+l
print(s1)

6
6

In [ ]:
List1=[12,34,54,56,25,54,36,5,'e','t','t','E',6,8,'P',55,'K']
myIntList = [x for x in List1 if isinstance(x, int)]
myStrList = [x for x in List1 if isinstance(x, str)]


print(myIntList)
print(myStrList)

[12, 34, 54, 56, 25, 54, 36, 5, 6, 8, 55]
['e', 't', 't', 'E', 'P', 'K']

In [ ]:
#INHERITENCE
#parents class
class Customer:
  def __init__(self,cid,name,age,address,phone):
    self.cid=cid
    self.name=name
    self.age=age
    self.address=address
    self.phone=phone
  def Show(self):
    print("Customer Details")
    print(self.cid,"\t",self.name,"\t",self.age,"\t",self.address,"\t",self.phone)

In [ ]:
if __name__=="__main__":
  c1=Customer(101,"Harsh",21,"Ranibagh",'9876566445')
  c1.Show()
  c2=Customer(104,"Gaurav",21,"Delhi","65465656")
  c2.Show()
  c3=Customer(103,"parul sharma",18,"deklhi","122322")
  c3.Show()

Customer Details
101 	 Harsh 	 21 	 Ranibagh 	 9876566445
Customer Details
104 	 Gaurav 	 21 	 Delhi 	 65465656
Customer Details
103 	 parul sharma 	 18 	 deklhi 	 122322

In [ ]:
class Guest(Customer):
  def __init__(self, cid, name, age, address, phone,gender):
    super().__init__(cid, name, age, address, phone)
    self.gender=gender
  def Showguest(self):
    self.Show()
    print("Gender ",self.gender)

In [ ]:
c4=Guest(105,"Nikita",17,"Rohini","10989002","female")
c4.Showguest();

Customer Details
105 	 Nikita 	 17 	 Rohini 	 10989002
Gender  female

In [ ]:
#  MULTI LEVEL Inheritence
class Alpha:
  def __init__(self,num1):
    self.num1=num1
  def Shownum1(self):
    print("Num1=",self.num1)


class Beta(Alpha):
  def __init__(self,num1,num2):
    super().__init__(num1)
    self.num2=num2
  def Show(self):
    self.Shownum1()
    print("Num2=",self.num2)

  def Add(self):
    s=self.num1+self.num2
    print("sum is ",s)
  def Max(self):
    if self.num1>self.num2:
      print("max value is",self.num1)
    else:
      print("max value is",self.num2)

class Gamma(Beta):
  def __init__(self,num1,num2,num3):
    super().__init__(num1,num2)
    self.num3=num3
  def Highest(self):
    print("Num3=",self.num3)
    x=max(self.num1,self.num2,self.num3)
    print("Highest value is ",x)

In [ ]:
c1=Gamma(888,5697,1098)
c1.Show()
c1.Add()
c1.Max()
c1.Highest()

Num1= 888
Num2= 5697
sum is  6585
max value is 5697
Num3= 1098
Highest value is  5697

In [ ]:
# HIERARCHICAL INHERITENE
class Customer:
  city="Delhi"  # static
  def __init__(self,cid,name,age,address,phone):
    self.cid=cid
    self.name=name
    self.age=age
    self.address=address
    self.phone=phone
  def Show(self):
    print("Customer Details")
    print("CID      CNAME      AGE    CADDRESSS      CPHONE        STOREADDRESS")
    print(self.cid,"\t",self.name,"\t",self.age,"\t",self.address,"\t",self.phone,"\t",self.city)

In [ ]:
class PerCust(Customer):
  ctype="Permanent"
  def __init__(self,cid,name,age,address,phone):
    super().__init__(cid,name,age,address,phone)
  def Show2(self):
    self.Show()
    print("TYPE :",self.ctype)

In [ ]:
class TempCust(Customer):
  ctype="Temporary"
  def __init__(self,cid,name,age,address,phone):
    super().__init__(cid,name,age,address,phone)
  def Show3(self):
    self.Show()
    print("TYPE :",self.ctype)

In [ ]:
class GuestCust(Customer):
  ctype="Guest"
  def __init__(self,cid,name,age,address,phone):
    super().__init__(cid,name,age,address,phone)
  def Show4(self):
    self.Show()
    print("TYPE :",self.ctype)

In [ ]:
# main()

gc1=GuestCust(1,"shyam",23,"london","57776765")
gc1.Show4()

c5=PerCust(3,"ankit",21,"Modal town","36677644")
c5.Show2()

c6=TempCust(4,"Alok",44,"kohat","635545")
c6.Show3()

Customer Details
CID      CNAME      AGE    CADDRESSS      CPHONE        STOREADDRESS
1 	 shyam 	 23 	 london 	 57776765 	 Delhi
TYPE : Guest
Customer Details
CID      CNAME      AGE    CADDRESSS      CPHONE        STOREADDRESS
3 	 ankit 	 21 	 Modal town 	 36677644 	 Delhi
TYPE : Permanent
Customer Details
CID      CNAME      AGE    CADDRESSS      CPHONE        STOREADDRESS
4 	 Alok 	 44 	 kohat 	 635545 	 Delhi
TYPE : Temporary

In [ ]:
#MULTIPLE INHERITENCE EXAMPLE
class Admin:
  college="TGC"
  def __init__(self):
    self.Regno=int(input("Enter Reg_number"))
    self.Name=input("Enter Your Name :")
    self.Course=input("Enter Course :")
  def Display(self):
    print("REG NO ",self.Regno)
    print("NAME OF STUDENT ",self.Name)
    print("COURSE ENROLLED  ",self.Course)
    print("COLLEGE NAME ",self.college)

In [ ]:
class Fees:
  coursefee=0;
  def Coursefee(self):
    self.coursefee=int(input("Enter Course fee "))
  def Displayfee(self):
    print("COURSE FEES RS.",self.coursefee)

In [ ]:
class Exam:
  sem=1
  sub1,sub2,sub3,sub4=0,0,0,0
  pr=0
  def GetMarks(self,sem,s1,s2,s3,s4,p):
    self.sem=sem;
    self.sub1=s1
    self.sub2=s2
    self.sub3=s3
    self.sub4=s4
    self.pr=p
  def showmarks(self):
    print("SEMESTER : ",self.sem)
    print("SUB1 : ",self.sub1)
    print("SUB2 : ",self.sub2)
    print("SUB3: ",self.sub3)
    print("SUB4 : ",self.sub4)
    print("PRACTICAL : ",self.pr)
  def Gettotal(self):
    totalmarks=self.sub1+self.sub2+self.sub3+self.sub4+self.pr
    print("Total Marks ",totalmarks)

In [ ]:
class Result(Admin,Fees,Exam):
  def __init__(self):
    super().__init__()
  def Showresult(self):
    self.Display()
    self.Displayfee()
    self.showmarks()
    self.Gettotal()

In [ ]:
Harsh=Result()
Harsh.Coursefee()
Harsh.GetMarks(1,45,66,77,55,88)
Harsh.Showresult()

Enter Reg_number101
Enter Your Name :gaurav
Enter Course :da
Enter Course fee 45000
REG NO  101
NAME OF STUDENT  gaurav
COURSE ENROLLED   da
COLLEGE NAME  TGC
COURSE FEES RS. 45000
SEMESTER :  1
SUB1 :  45
SUB2 :  66
SUB3:  77
SUB4 :  55
PRACTICAL :  88
Total Marks  331

In [ ]:
#getter and setter of  class

class Employee:
  __pancardno="234HFA5" # private
  _Bonus=10000.00       # protected
  company="TCS"         #public
  def __init__(self):
    self.id=101
    self.name='xyz'
    self.Age=18
    self.salary=30000.00

  def getId(self):
    return self.id
  def setId(self,id):
    self.id=id

  def getName(self):
    return self.name
  def setName(self,name):
    self.name=name

  def getAge(self):
    return self.Age
  def setAge(self,age):
    self.Age=age


  def getSalary(self):
    return self.salary
  def setSalary(self,s):
    self.salary=s

  def Updatesal(self,amount):
    self.amount=amount
    self.salary=self.salary+self.amount
  def Getpan(self):
    return self.__pancardno

In [ ]:
class Manager(Employee):
  def showbonus(self):
    print(self._Bonus)

In [ ]:
class AsstManager(Manager):
  def showBonus(self):
    print(self._Bonus)

In [ ]:
e2=AsstManager()
e2.showBonus()
e2._Bonus=9000
e2.showBonus()

10000.0
9000

In [ ]:
E1=Employee()
print(E1.Getpan())
print(E1.company)
print(E1._Bonus)
E1._Bonus=7000
print(E1._Bonus)

234HFA5
TCS
10000.0
7000

In [ ]:

print(E1.getId())
E1.setId(1010)
print(E1.getId())
E1.setName("Harsh")
print(E1.getName())
E1.setSalary(28000.00)
print(E1.getSalary())
E1.Updatesal(6000)
print(E1.getSalary())

In [ ]:
import random as r
import math
class Banksys:
  Ifsc_code='1017'
  Bank_name="PNB"
  branch="Pritampura"
  def __init__(self):
    self.acc_no=111
    self.firstname="arjun"
    self.lastname="reddy"
    self.address="delhi"
    self.age=18
    self.phone="67676766767"
    self.balance=0
  def Display(self):
    print("Account Details")
    print("Name:",self.firstname, self.lastname)
    print("Address:",self.address)
    print("Age:",self.age)
    print("Mobile Number:",self.phone)
    print("Account Balance:",self.balance)
    print("IFCS Code:",self.Ifsc_code)
    print("Bank Name:",self.Bank_name)
    print("Branch:",self.branch)
    print("Account number is",self.Ifsc_code+self.acc_no)
    print("Account Opened Successfully!")
  def Accountopen(self):
    self.firstname=input("Enter First Name:")
    self.lastname=input("Enter Last Name:")
    self.address=input("Enter Address:")
    self.age=int(input("Enter age:"))
    self.phone=input("Enter Mobile Number:")
    self.balance=int(input("Enter Balance:"))
    self.acc_no=self.generateaccno()
  def Deposit(self):
    amount=int(input("Enter depositing amount"))
    self.balance=self.balance+amount
    print("Amount added")
    print("New Balance is:",self.balance)
  def Withdraw(self):
    amount=int(input("Amount to be withdrawn:"))
    if amount<=self.balance:
      print("Current balance",self.balance-amount)
    else:
      print("Insufficient Balance")
  def generateaccno(self):
      digits="0123456789"
      acc_no=''
      for x in range(8):
        p=digits[math.floor(r.random()*10)]
        acc_no+=p
      return acc_no

In [ ]:
#  Inheritence in python
class AXIS(Banksys):
  Ifsc_code='2017'
  Bank_name="AXIS"
  branch="KOHAT"
  ROI=10.5
  def __init__(self):
    self.Accountopen();
  def Show1(self):
    self.Display()
    print("ROI",self.ROI)

In [ ]:
class BOB(Banksys):
  Ifsc_code='3017'
  Bank_name="BOB"
  branch="MODEL TOWN"
  ROI=12.5
  def __init__(self):
    self.Accountopen();
  def Show1(self):
    self.Display()
    print("ROI",self.ROI)

In [ ]:
c1=AXIS()
c1.Show1()
c1.Withdraw()

Enter First Name:Nikita
Enter Last Name:shrama
Enter Address:rohini
Enter age:22
Enter Mobile Number:16312365
Enter Balance:12000
Account Details
Name: Nikita shrama
Address: rohini
Age: 22
Mobile Number: 16312365
Account Balance: 12000
IFCS Code: 2017
Bank Name: AXIS
Branch: KOHAT
Account number is 201787311011
Account Opened Successfully!
ROI 10.5
Amount to be withdrawn:3500
Current balance 8500

In [ ]:
c2=BOB()
c2.Show1()
c2.Deposit()

Enter First Name:Ankit
Enter Last Name:Kumar
Enter Address:delhi
Enter age:21
Enter Mobile Number:646235
Enter Balance:10000
Account Details
Name: Ankit Kumar
Address: delhi
Age: 21
Mobile Number: 646235
Account Balance: 10000
IFCS Code: 3017
Bank Name: BOB
Branch: MODEL TOWN
Account number is 301764685946
Account Opened Successfully!
ROI 12.5
Enter depositing amount5000
Amount added
New Balance is: 15000

In [ ]:
class Animal:
  def sound(self):
    print("Animals have different sound...")
  def eat(self):
    print("Animal is eating.....")

In [ ]:
class Dog(Animal):
  def __init__(self):
    self.name=input("Enter Dog name");
    self.breed=input("Enter Breed")
  def sound(self):
    super().sound()
    print("Dog is barking.......")
  def eat(self):
    print("Dog eating Bread and Meat")
  def Display(self):
    print(self.name,"\t",self.breed)

In [ ]:
dog1=Dog()
dog1.sound()
dog1.eat()
dog1.Display()

Enter Dog named
Enter Breedppp
Animals have different sound...
Dog is barking.......
Dog eating Bread and Meat
d 	 ppp

In [ ]:
# from google.colab import drive
from google.colab import drive
drive.mount("//content//gdrive")

path='/content/gdrive/MyDrive/Actor.json'

Mounted at //content//gdrive

In [ ]:
import json
fp=open(path,"r")
x=fp.read()


print(x)

[
	{
		"actor_id" : 1,
		"first_name" : "PENELOPE",
		"last_name" : "GUINESS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 2,
		"first_name" : "NICK",
		"last_name" : "WAHLBERG",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 3,
		"first_name" : "ED",
		"last_name" : "CHASE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 4,
		"first_name" : "JENNIFER",
		"last_name" : "DAVIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 5,
		"first_name" : "JOHNNY",
		"last_name" : "LOLLOBRIGIDA",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 6,
		"first_name" : "BETTE",
		"last_name" : "NICHOLSON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 7,
		"first_name" : "GRACE",
		"last_name" : "MOSTEL",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 8,
		"first_name" : "MATTHEW",
		"last_name" : "JOHANSSON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 9,
		"first_name" : "JOE",
		"last_name" : "SWANK",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 10,
		"first_name" : "CHRISTIAN",
		"last_name" : "GABLE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 11,
		"first_name" : "ZERO",
		"last_name" : "CAGE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 12,
		"first_name" : "KARL",
		"last_name" : "BERRY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 13,
		"first_name" : "UMA",
		"last_name" : "WOOD",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 14,
		"first_name" : "VIVIEN",
		"last_name" : "BERGEN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 15,
		"first_name" : "CUBA",
		"last_name" : "OLIVIER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 16,
		"first_name" : "FRED",
		"last_name" : "COSTNER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 17,
		"first_name" : "HELEN",
		"last_name" : "VOIGHT",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 18,
		"first_name" : "DAN",
		"last_name" : "TORN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 19,
		"first_name" : "BOB",
		"last_name" : "FAWCETT",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 20,
		"first_name" : "LUCILLE",
		"last_name" : "TRACY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 21,
		"first_name" : "KIRSTEN",
		"last_name" : "PALTROW",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 22,
		"first_name" : "ELVIS",
		"last_name" : "MARX",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 23,
		"first_name" : "SANDRA",
		"last_name" : "KILMER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 24,
		"first_name" : "CAMERON",
		"last_name" : "STREEP",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 25,
		"first_name" : "KEVIN",
		"last_name" : "BLOOM",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 26,
		"first_name" : "RIP",
		"last_name" : "CRAWFORD",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 27,
		"first_name" : "JULIA",
		"last_name" : "MCQUEEN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 28,
		"first_name" : "WOODY",
		"last_name" : "HOFFMAN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 29,
		"first_name" : "ALEC",
		"last_name" : "WAYNE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 30,
		"first_name" : "SANDRA",
		"last_name" : "PECK",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 31,
		"first_name" : "SISSY",
		"last_name" : "SOBIESKI",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 32,
		"first_name" : "TIM",
		"last_name" : "HACKMAN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 33,
		"first_name" : "MILLA",
		"last_name" : "PECK",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 34,
		"first_name" : "AUDREY",
		"last_name" : "OLIVIER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 35,
		"first_name" : "JUDY",
		"last_name" : "DEAN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 36,
		"first_name" : "BURT",
		"last_name" : "DUKAKIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 37,
		"first_name" : "VAL",
		"last_name" : "BOLGER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 38,
		"first_name" : "TOM",
		"last_name" : "MCKELLEN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 39,
		"first_name" : "GOLDIE",
		"last_name" : "BRODY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 40,
		"first_name" : "JOHNNY",
		"last_name" : "CAGE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 41,
		"first_name" : "JODIE",
		"last_name" : "DEGENERES",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 42,
		"first_name" : "TOM",
		"last_name" : "MIRANDA",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 43,
		"first_name" : "KIRK",
		"last_name" : "JOVOVICH",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 44,
		"first_name" : "NICK",
		"last_name" : "STALLONE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 45,
		"first_name" : "REESE",
		"last_name" : "KILMER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 46,
		"first_name" : "PARKER",
		"last_name" : "GOLDBERG",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 47,
		"first_name" : "JULIA",
		"last_name" : "BARRYMORE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 48,
		"first_name" : "FRANCES",
		"last_name" : "DAY-LEWIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 49,
		"first_name" : "ANNE",
		"last_name" : "CRONYN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 50,
		"first_name" : "NATALIE",
		"last_name" : "HOPKINS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 51,
		"first_name" : "GARY",
		"last_name" : "PHOENIX",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 52,
		"first_name" : "CARMEN",
		"last_name" : "HUNT",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 53,
		"first_name" : "MENA",
		"last_name" : "TEMPLE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 54,
		"first_name" : "PENELOPE",
		"last_name" : "PINKETT",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 55,
		"first_name" : "FAY",
		"last_name" : "KILMER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 56,
		"first_name" : "DAN",
		"last_name" : "HARRIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 57,
		"first_name" : "JUDE",
		"last_name" : "CRUISE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 58,
		"first_name" : "CHRISTIAN",
		"last_name" : "AKROYD",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 59,
		"first_name" : "DUSTIN",
		"last_name" : "TAUTOU",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 60,
		"first_name" : "HENRY",
		"last_name" : "BERRY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 61,
		"first_name" : "CHRISTIAN",
		"last_name" : "NEESON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 62,
		"first_name" : "JAYNE",
		"last_name" : "NEESON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 63,
		"first_name" : "CAMERON",
		"last_name" : "WRAY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 64,
		"first_name" : "RAY",
		"last_name" : "JOHANSSON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 65,
		"first_name" : "ANGELA",
		"last_name" : "HUDSON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 66,
		"first_name" : "MARY",
		"last_name" : "TANDY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 67,
		"first_name" : "JESSICA",
		"last_name" : "BAILEY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 68,
		"first_name" : "RIP",
		"last_name" : "WINSLET",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 69,
		"first_name" : "KENNETH",
		"last_name" : "PALTROW",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 70,
		"first_name" : "MICHELLE",
		"last_name" : "MCCONAUGHEY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 71,
		"first_name" : "ADAM",
		"last_name" : "GRANT",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 72,
		"first_name" : "SEAN",
		"last_name" : "WILLIAMS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 73,
		"first_name" : "GARY",
		"last_name" : "PENN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 74,
		"first_name" : "MILLA",
		"last_name" : "KEITEL",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 75,
		"first_name" : "BURT",
		"last_name" : "POSEY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 76,
		"first_name" : "ANGELINA",
		"last_name" : "ASTAIRE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 77,
		"first_name" : "CARY",
		"last_name" : "MCCONAUGHEY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 78,
		"first_name" : "GROUCHO",
		"last_name" : "SINATRA",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 79,
		"first_name" : "MAE",
		"last_name" : "HOFFMAN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 80,
		"first_name" : "RALPH",
		"last_name" : "CRUZ",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 81,
		"first_name" : "SCARLETT",
		"last_name" : "DAMON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 82,
		"first_name" : "WOODY",
		"last_name" : "JOLIE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 83,
		"first_name" : "BEN",
		"last_name" : "WILLIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 84,
		"first_name" : "JAMES",
		"last_name" : "PITT",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 85,
		"first_name" : "MINNIE",
		"last_name" : "ZELLWEGER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 86,
		"first_name" : "GREG",
		"last_name" : "CHAPLIN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 87,
		"first_name" : "SPENCER",
		"last_name" : "PECK",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 88,
		"first_name" : "KENNETH",
		"last_name" : "PESCI",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 89,
		"first_name" : "CHARLIZE",
		"last_name" : "DENCH",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 90,
		"first_name" : "SEAN",
		"last_name" : "GUINESS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 91,
		"first_name" : "CHRISTOPHER",
		"last_name" : "BERRY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 92,
		"first_name" : "KIRSTEN",
		"last_name" : "AKROYD",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 93,
		"first_name" : "ELLEN",
		"last_name" : "PRESLEY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 94,
		"first_name" : "KENNETH",
		"last_name" : "TORN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 95,
		"first_name" : "DARYL",
		"last_name" : "WAHLBERG",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 96,
		"first_name" : "GENE",
		"last_name" : "WILLIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 97,
		"first_name" : "MEG",
		"last_name" : "HAWKE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 98,
		"first_name" : "CHRIS",
		"last_name" : "BRIDGES",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 99,
		"first_name" : "JIM",
		"last_name" : "MOSTEL",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 100,
		"first_name" : "SPENCER",
		"last_name" : "DEPP",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 101,
		"first_name" : "SUSAN",
		"last_name" : "DAVIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 102,
		"first_name" : "WALTER",
		"last_name" : "TORN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 103,
		"first_name" : "MATTHEW",
		"last_name" : "LEIGH",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 104,
		"first_name" : "PENELOPE",
		"last_name" : "CRONYN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 105,
		"first_name" : "SIDNEY",
		"last_name" : "CROWE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 106,
		"first_name" : "GROUCHO",
		"last_name" : "DUNST",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 107,
		"first_name" : "GINA",
		"last_name" : "DEGENERES",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 108,
		"first_name" : "WARREN",
		"last_name" : "NOLTE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 109,
		"first_name" : "SYLVESTER",
		"last_name" : "DERN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 110,
		"first_name" : "SUSAN",
		"last_name" : "DAVIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 111,
		"first_name" : "CAMERON",
		"last_name" : "ZELLWEGER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 112,
		"first_name" : "RUSSELL",
		"last_name" : "BACALL",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 113,
		"first_name" : "MORGAN",
		"last_name" : "HOPKINS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 114,
		"first_name" : "MORGAN",
		"last_name" : "MCDORMAND",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 115,
		"first_name" : "HARRISON",
		"last_name" : "BALE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 116,
		"first_name" : "DAN",
		"last_name" : "STREEP",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 117,
		"first_name" : "RENEE",
		"last_name" : "TRACY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 118,
		"first_name" : "CUBA",
		"last_name" : "ALLEN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 119,
		"first_name" : "WARREN",
		"last_name" : "JACKMAN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 120,
		"first_name" : "PENELOPE",
		"last_name" : "MONROE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 121,
		"first_name" : "LIZA",
		"last_name" : "BERGMAN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 122,
		"first_name" : "SALMA",
		"last_name" : "NOLTE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 123,
		"first_name" : "JULIANNE",
		"last_name" : "DENCH",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 124,
		"first_name" : "SCARLETT",
		"last_name" : "BENING",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 125,
		"first_name" : "ALBERT",
		"last_name" : "NOLTE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 126,
		"first_name" : "FRANCES",
		"last_name" : "TOMEI",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 127,
		"first_name" : "KEVIN",
		"last_name" : "GARLAND",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 128,
		"first_name" : "CATE",
		"last_name" : "MCQUEEN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 129,
		"first_name" : "DARYL",
		"last_name" : "CRAWFORD",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 130,
		"first_name" : "GRETA",
		"last_name" : "KEITEL",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 131,
		"first_name" : "JANE",
		"last_name" : "JACKMAN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 132,
		"first_name" : "ADAM",
		"last_name" : "HOPPER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 133,
		"first_name" : "RICHARD",
		"last_name" : "PENN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 134,
		"first_name" : "GENE",
		"last_name" : "HOPKINS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 135,
		"first_name" : "RITA",
		"last_name" : "REYNOLDS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 136,
		"first_name" : "ED",
		"last_name" : "MANSFIELD",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 137,
		"first_name" : "MORGAN",
		"last_name" : "WILLIAMS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 138,
		"first_name" : "LUCILLE",
		"last_name" : "DEE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 139,
		"first_name" : "EWAN",
		"last_name" : "GOODING",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 140,
		"first_name" : "WHOOPI",
		"last_name" : "HURT",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 141,
		"first_name" : "CATE",
		"last_name" : "HARRIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 142,
		"first_name" : "JADA",
		"last_name" : "RYDER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 143,
		"first_name" : "RIVER",
		"last_name" : "DEAN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 144,
		"first_name" : "ANGELA",
		"last_name" : "WITHERSPOON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 145,
		"first_name" : "KIM",
		"last_name" : "ALLEN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 146,
		"first_name" : "ALBERT",
		"last_name" : "JOHANSSON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 147,
		"first_name" : "FAY",
		"last_name" : "WINSLET",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 148,
		"first_name" : "EMILY",
		"last_name" : "DEE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 149,
		"first_name" : "RUSSELL",
		"last_name" : "TEMPLE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 150,
		"first_name" : "JAYNE",
		"last_name" : "NOLTE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 151,
		"first_name" : "GEOFFREY",
		"last_name" : "HESTON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 152,
		"first_name" : "BEN",
		"last_name" : "HARRIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 153,
		"first_name" : "MINNIE",
		"last_name" : "KILMER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 154,
		"first_name" : "MERYL",
		"last_name" : "GIBSON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 155,
		"first_name" : "IAN",
		"last_name" : "TANDY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 156,
		"first_name" : "FAY",
		"last_name" : "WOOD",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 157,
		"first_name" : "GRETA",
		"last_name" : "MALDEN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 158,
		"first_name" : "VIVIEN",
		"last_name" : "BASINGER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 159,
		"first_name" : "LAURA",
		"last_name" : "BRODY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 160,
		"first_name" : "CHRIS",
		"last_name" : "DEPP",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 161,
		"first_name" : "HARVEY",
		"last_name" : "HOPE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 162,
		"first_name" : "OPRAH",
		"last_name" : "KILMER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 163,
		"first_name" : "CHRISTOPHER",
		"last_name" : "WEST",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 164,
		"first_name" : "HUMPHREY",
		"last_name" : "WILLIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 165,
		"first_name" : "AL",
		"last_name" : "GARLAND",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 166,
		"first_name" : "NICK",
		"last_name" : "DEGENERES",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 167,
		"first_name" : "LAURENCE",
		"last_name" : "BULLOCK",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 168,
		"first_name" : "WILL",
		"last_name" : "WILSON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 169,

'y = json.loads(x)\nprint(y)\nfor rec in y:\n  print(rec)'

In [ ]:
y = json.loads(x)
print(y)
for rec in y:
  print(f"{rec['first_name']} {rec['last_name']}")

[{'actor_id': 1, 'first_name': 'PENELOPE', 'last_name': 'GUINESS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 2, 'first_name': 'NICK', 'last_name': 'WAHLBERG', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 3, 'first_name': 'ED', 'last_name': 'CHASE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 4, 'first_name': 'JENNIFER', 'last_name': 'DAVIS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 5, 'first_name': 'JOHNNY', 'last_name': 'LOLLOBRIGIDA', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 6, 'first_name': 'BETTE', 'last_name': 'NICHOLSON', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 7, 'first_name': 'GRACE', 'last_name': 'MOSTEL', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 8, 'first_name': 'MATTHEW', 'last_name': 'JOHANSSON', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 9, 'first_name': 'JOE', 'last_name': 'SWANK', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 10, 'first_name': 'CHRISTIAN', 'last_name': 'GABLE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 11, 'first_name': 'ZERO', 'last_name': 'CAGE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 12, 'first_name': 'KARL', 'last_name': 'BERRY', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 13, 'first_name': 'UMA', 'last_name': 'WOOD', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 14, 'first_name': 'VIVIEN', 'last_name': 'BERGEN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 15, 'first_name': 'CUBA', 'last_name': 'OLIVIER', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 16, 'first_name': 'FRED', 'last_name': 'COSTNER', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 17, 'first_name': 'HELEN', 'last_name': 'VOIGHT', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 18, 'first_name': 'DAN', 'last_name': 'TORN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 19, 'first_name': 'BOB', 'last_name': 'FAWCETT', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 20, 'first_name': 'LUCILLE', 'last_name': 'TRACY', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 21, 'first_name': 'KIRSTEN', 'last_name': 'PALTROW', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 22, 'first_name': 'ELVIS', 'last_name': 'MARX', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 23, 'first_name': 'SANDRA', 'last_name': 'KILMER', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 24, 'first_name': 'CAMERON', 'last_name': 'STREEP', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 25, 'first_name': 'KEVIN', 'last_name': 'BLOOM', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 26, 'first_name': 'RIP', 'last_name': 'CRAWFORD', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 27, 'first_name': 'JULIA', 'last_name': 'MCQUEEN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 28, 'first_name': 'WOODY', 'last_name': 'HOFFMAN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 29, 'first_name': 'ALEC', 'last_name': 'WAYNE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 30, 'first_name': 'SANDRA', 'last_name': 'PECK', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 31, 'first_name': 'SISSY', 'last_name': 'SOBIESKI', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 32, 'first_name': 'TIM', 'last_name': 'HACKMAN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 33, 'first_name': 'MILLA', 'last_name': 'PECK', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 34, 'first_name': 'AUDREY', 'last_name': 'OLIVIER', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 35, 'first_name': 'JUDY', 'last_name': 'DEAN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 36, 'first_name': 'BURT', 'last_name': 'DUKAKIS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 37, 'first_name': 'VAL', 'last_name': 'BOLGER', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 38, 'first_name': 'TOM', 'last_name': 'MCKELLEN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 39, 'first_name': 'GOLDIE', 'last_name': 'BRODY', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 40, 'first_name': 'JOHNNY', 'last_name': 'CAGE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 41, 'first_name': 'JODIE', 'last_name': 'DEGENERES', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 42, 'first_name': 'TOM', 'last_name': 'MIRANDA', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 43, 'first_name': 'KIRK', 'last_name': 'JOVOVICH', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 44, 'first_name': 'NICK', 'last_name': 'STALLONE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 45, 'first_name': 'REESE', 'last_name': 'KILMER', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 46, 'first_name': 'PARKER', 'last_name': 'GOLDBERG', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 47, 'first_name': 'JULIA', 'last_name': 'BARRYMORE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 48, 'first_name': 'FRANCES', 'last_name': 'DAY-LEWIS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 49, 'first_name': 'ANNE', 'last_name': 'CRONYN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 50, 'first_name': 'NATALIE', 'last_name': 'HOPKINS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 51, 'first_name': 'GARY', 'last_name': 'PHOENIX', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 52, 'first_name': 'CARMEN', 'last_name': 'HUNT', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 53, 'first_name': 'MENA', 'last_name': 'TEMPLE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 54, 'first_name': 'PENELOPE', 'last_name': 'PINKETT', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 55, 'first_name': 'FAY', 'last_name': 'KILMER', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 56, 'first_name': 'DAN', 'last_name': 'HARRIS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 57, 'first_name': 'JUDE', 'last_name': 'CRUISE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 58, 'first_name': 'CHRISTIAN', 'last_name': 'AKROYD', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 59, 'first_name': 'DUSTIN', 'last_name': 'TAUTOU', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 60, 'first_name': 'HENRY', 'last_name': 'BERRY', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 61, 'first_name': 'CHRISTIAN', 'last_name': 'NEESON', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 62, 'first_name': 'JAYNE', 'last_name': 'NEESON', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 63, 'first_name': 'CAMERON', 'last_name': 'WRAY', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 64, 'first_name': 'RAY', 'last_name': 'JOHANSSON', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 65, 'first_name': 'ANGELA', 'last_name': 'HUDSON', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 66, 'first_name': 'MARY', 'last_name': 'TANDY', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 67, 'first_name': 'JESSICA', 'last_name': 'BAILEY', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 68, 'first_name': 'RIP', 'last_name': 'WINSLET', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 69, 'first_name': 'KENNETH', 'last_name': 'PALTROW', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 70, 'first_name': 'MICHELLE', 'last_name': 'MCCONAUGHEY', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 71, 'first_name': 'ADAM', 'last_name': 'GRANT', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 72, 'first_name': 'SEAN', 'last_name': 'WILLIAMS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 73, 'first_name': 'GARY', 'last_name': 'PENN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 74, 'first_name': 'MILLA', 'last_name': 'KEITEL', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 75, 'first_name': 'BURT', 'last_name': 'POSEY', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 76, 'first_name': 'ANGELINA', 'last_name': 'ASTAIRE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 77, 'first_name': 'CARY', 'last_name': 'MCCONAUGHEY', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 78, 'first_name': 'GROUCHO', 'last_name': 'SINATRA', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 79, 'first_name': 'MAE', 'last_name': 'HOFFMAN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 80, 'first_name': 'RALPH', 'last_name': 'CRUZ', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 81, 'first_name': 'SCARLETT', 'last_name': 'DAMON', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 82, 'first_name': 'WOODY', 'last_name': 'JOLIE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 83, 'first_name': 'BEN', 'last_name': 'WILLIS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 84, 'first_name': 'JAMES', 'last_name': 'PITT', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 85, 'first_name': 'MINNIE', 'last_name': 'ZELLWEGER', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 86, 'first_name': 'GREG', 'last_name': 'CHAPLIN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 87, 'first_name': 'SPENCER', 'last_name': 'PECK', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 88, 'first_name': 'KENNETH', 'last_name': 'PESCI', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 89, 'first_name': 'CHARLIZE', 'last_name': 'DENCH', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 90, 'first_name': 'SEAN', 'last_name': 'GUINESS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 91, 'first_name': 'CHRISTOPHER', 'last_name': 'BERRY', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 92, 'first_name': 'KIRSTEN', 'last_name': 'AKROYD', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 93, 'first_name': 'ELLEN', 'last_name': 'PRESLEY', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 94, 'first_name': 'KENNETH', 'last_name': 'TORN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 95, 'first_name': 'DARYL', 'last_name': 'WAHLBERG', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 96, 'first_name': 'GENE', 'last_name': 'WILLIS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 97, 'first_name': 'MEG', 'last_name': 'HAWKE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 98, 'first_name': 'CHRIS', 'last_name': 'BRIDGES', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 99, 'first_name': 'JIM', 'last_name': 'MOSTEL', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 100, 'first_name': 'SPENCER', 'last_name': 'DEPP', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 101, 'first_name': 'SUSAN', 'last_name': 'DAVIS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 102, 'first_name': 'WALTER', 'last_name': 'TORN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 103, 'first_name': 'MATTHEW', 'last_name': 'LEIGH', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 104, 'first_name': 'PENELOPE', 'last_name': 'CRONYN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 105, 'first_name': 'SIDNEY', 'last_name': 'CROWE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 106, 'first_name': 'GROUCHO', 'last_name': 'DUNST', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 107, 'first_name': 'GINA', 'last_name': 'DEGENERES', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 108, 'first_name': 'WARREN', 'last_name': 'NOLTE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 109, 'first_name': 'SYLVESTER', 'last_name': 'DERN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 110, 'first_name': 'SUSAN', 'last_name': 'DAVIS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 111, 'first_name': 'CAMERON', 'last_name': 'ZELLWEGER', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 112, 'first_name': 'RUSSELL', 'last_name': 'BACALL', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 113, 'first_name': 'MORGAN', 'last_name': 'HOPKINS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 114, 'first_name': 'MORGAN', 'last_name': 'MCDORMAND', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 115, 'first_name': 'HARRISON', 'last_name': 'BALE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 116, 'first_name': 'DAN', 'last_name': 'STREEP', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 117, 'first_name': 'RENEE', 'last_name': 'TRACY', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 118, 'first_name': 'CUBA', 'last_name': 'ALLEN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 119, 'first_name': 'WARREN', 'last_name': 'JACKMAN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 120, 'first_name': 'PENELOPE', 'last_name': 'MONROE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 121, 'first_name': 'LIZA', 'last_name': 'BERGMAN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 122, 'first_name': 'SALMA', 'last_name': 'NOLTE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 123, 'first_name': 'JULIANNE', 'last_name': 'DENCH', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 124, 'first_name': 'SCARLETT', 'last_name': 'BENING', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 125, 'first_name': 'ALBERT', 'last_name': 'NOLTE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 126, 'first_name': 'FRANCES', 'last_name': 'TOMEI', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 127, 'first_name': 'KEVIN', 'last_name': 'GARLAND', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 128, 'first_name': 'CATE', 'last_name': 'MCQUEEN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 129, 'first_name': 'DARYL', 'last_name': 'CRAWFORD', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 130, 'first_name': 'GRETA', 'last_name': 'KEITEL', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 131, 'first_name': 'JANE', 'last_name': 'JACKMAN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 132, 'first_name': 'ADAM', 'last_name': 'HOPPER', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 133, 'first_name': 'RICHARD', 'last_name': 'PENN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 134, 'first_name': 'GENE', 'last_name': 'HOPKINS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 135, 'first_name': 'RITA', 'last_name': 'REYNOLDS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 136, 'first_name': 'ED', 'last_name': 'MANSFIELD', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 137, 'first_name': 'MORGAN', 'last_name': 'WILLIAMS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 138, 'first_name': 'LUCILLE', 'last_name': 'DEE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 139, 'first_name': 'EWAN', 'last_name': 'GOODING', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 140, 'first_name': 'WHOOPI', 'last_name': 'HURT', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 141, 'first_name': 'CATE', 'last_name': 'HARRIS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 142, 'first_name': 'JADA', 'last_name': 'RYDER', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 143, 'first_name': 'RIVER', 'last_name': 'DEAN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 144, 'first_name': 'ANGELA', 'last_name': 'WITHERSPOON', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 145, 'first_name': 'KIM', 'last_name': 'ALLEN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 146, 'first_name': 'ALBERT', 'last_name': 'JOHANSSON', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 147, 'first_name': 'FAY', 'last_name': 'WINSLET', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 148, 'first_name': 'EMILY', 'last_name': 'DEE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 149, 'first_name': 'RUSSELL', 'last_name': 'TEMPLE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 150, 'first_name': 'JAYNE', 'last_name': 'NOLTE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 151, 'first_name': 'GEOFFREY', 'last_name': 'HESTON', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 152, 'first_name': 'BEN', 'last_name': 'HARRIS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 153, 'first_name': 'MINNIE', 'last_name': 'KILMER', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 154, 'first_name': 'MERYL', 'last_name': 'GIBSON', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 155, 'first_name': 'IAN', 'last_name': 'TANDY', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 156, 'first_name': 'FAY', 'last_name': 'WOOD', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 157, 'first_name': 'GRETA', 'last_name': 'MALDEN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 158, 'first_name': 'VIVIEN', 'last_name': 'BASINGER', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 159, 'first_name': 'LAURA', 'last_name': 'BRODY', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 160, 'first_name': 'CHRIS', 'last_name': 'DEPP', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 161, 'first_name': 'HARVEY', 'last_name': 'HOPE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 162, 'first_name': 'OPRAH', 'last_name': 'KILMER', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 163, 'first_name': 'CHRISTOPHER', 'last_name': 'WEST', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 164, 'first_name': 'HUMPHREY', 'last_name': 'WILLIS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 165, 'first_name': 'AL', 'last_name': 'GARLAND', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 166, 'first_name': 'NICK', 'last_name': 'DEGENERES', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 167, 'first_name': 'LAURENCE', 'last_name': 'BULLOCK', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 168, 'first_name': 'WILL', 'last_name': 'WILSON', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 169, 'first_name': 'KENNETH', 'last_name': 'HOFFMAN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 170, 'first_name': 'MENA', 'last_name': 'HOPPER', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 171, 'first_name': 'OLYMPIA', 'last_name': 'PFEIFFER', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 172, 'first_name': 'GROUCHO', 'last_name': 'WILLIAMS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 173, 'first_name': 'ALAN', 'last_name': 'DREYFUSS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 174, 'first_name': 'MICHAEL', 'last_name': 'BENING', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 175, 'first_name': 'WILLIAM', 'last_name': 'HACKMAN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 176, 'first_name': 'JON', 'last_name': 'CHASE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 177, 'first_name': 'GENE', 'last_name': 'MCKELLEN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 178, 'first_name': 'LISA', 'last_name': 'MONROE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 179, 'first_name': 'ED', 'last_name': 'GUINESS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 180, 'first_name': 'JEFF', 'last_name': 'SILVERSTONE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 181, 'first_name': 'MATTHEW', 'last_name': 'CARREY', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 182, 'first_name': 'DEBBIE', 'last_name': 'AKROYD', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 183, 'first_name': 'RUSSELL', 'last_name': 'CLOSE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 184, 'first_name': 'HUMPHREY', 'last_name': 'GARLAND', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 185, 'first_name': 'MICHAEL', 'last_name': 'BOLGER', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 186, 'first_name': 'JULIA', 'last_name': 'ZELLWEGER', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 187, 'first_name': 'RENEE', 'last_name': 'BALL', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 188, 'first_name': 'ROCK', 'last_name': 'DUKAKIS', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 189, 'first_name': 'CUBA', 'last_name': 'BIRCH', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 190, 'first_name': 'AUDREY', 'last_name': 'BAILEY', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 191, 'first_name': 'GREGORY', 'last_name': 'GOODING', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 192, 'first_name': 'JOHN', 'last_name': 'SUVARI', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 193, 'first_name': 'BURT', 'last_name': 'TEMPLE', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 194, 'first_name': 'MERYL', 'last_name': 'ALLEN', 'last_update': '2006-02-15 04:34:33'}, {'actor_id': 195, 'f

In [ ]:
def add(*any):
  print("sum is ",sum(any))

add(66,88,99)

sum is  253

In [ ]:
class Father:
  def __init__(self,fathername):
    self.fathername=fathername

class Son(Father):
  def __init__(self,fathername,sonname):
    super().__init__(fathername)
    self.sonname=sonname
  def show(self):
    print(self.fathername, self.sonname)

In [ ]:
s1=Son("RAM","Shyam")
s1.show()

RAM Shyam

In [ ]:
# program to illustrate access modifiers of a class

# super class
class Super:

	# public data member
	var1 = None

	# protected data member
	_var2 = None

	# private data member
	__var3 = None

	# constructor
	def __init__(self, var1, var2, var3):
		self.var1 = var1
		self._var2 = var2
		self.__var3 = var3

	# public member function
	def displayPublicMembers(self):

		# accessing public data members
		print("Public Data Member: ", self.var1)

	# protected member function
	def _displayProtectedMembers(self):

		# accessing protected data members
		print("Protected Data Member: ", self._var2)

	# private member function
	def __displayPrivateMembers(self):

		# accessing private data members
		print("Private Data Member: ", self.__var3)

	# public member function
	def accessPrivateMembers(self):

		# accessing private member function
		self.__displayPrivateMembers()

# derived class
class Sub(Super):

	# constructor
	def __init__(self, var1, var2, var3):
				Super.__init__(self, var1, var2, var3)

	# public member function
	def accessProtectedMembers(self):

				# accessing protected member functions of super class
				self._displayProtectedMembers()

# creating objects of the derived class
obj = Sub("Geeks", 4, "Geeks !")

# calling public member functions of the class
obj.displayPublicMembers()
obj.accessProtectedMembers()
obj.accessPrivateMembers()

# Object can access protected member
print("Object is accessing protected member:", obj._var2)

# object can not access private member, so it will generate Attribute error
#print(obj.__var3)

Public Data Member:  Geeks
Protected Data Member:  4
Private Data Member:  Geeks !
Object is accessing protected member: 4

In [ ]:
class Manav:
  name=None   # public
  _age=None   # protected
  __Gender=None #private
  def __init__(self): # constructor
    self.name="Ankit"
    self._age=21
    self.__Gender='Male'
  def GetGender(self):
    print(self.__Gender)
    self.__Display()
  def __Display(self):
    print("Hello Good Morning")

In [ ]:
p1=Manav()
print(p1.name)
print(p1._age)
p1.GetGender()

Ankit
21
Male
Hello Good Morning

In [ ]:
class Insaan(Manav):

  def __init__(self):
     super().__init__()
     pass

In [ ]:
p2=Insaan()
p2._age=23
print(p2.name,p2._age)
p2.__Gender="Female"
p2.GetGender()

Ankit 23
Male
Hello Good Morning

In [ ]:
#iterator

pricelist=(1200,2300,6700,5600,4500,12500)

myiter=iter(pricelist)

In [ ]:
print(next(myiter))

1200

In [ ]:
class MySequence:
  def __iter__(self):
    self.a = 101
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

In [ ]:
myseq=MySequence()
miter=iter(myseq)

In [ ]:
for i in range(1,10,1):
  print(next(miter))

108
109
110
111
112
113
114
115
116

In [ ]:
#lambda Function
x=lambda a,b:a if a>b else b

add = lambda a,b,c: a+b+c

In [ ]:
print(add(8,9,7))

24

In [ ]:
print(x(67,87))

87

In [ ]:
def multiplier(n):
  if n>0:
    return lambda a:n*a
  else:
    pass

In [ ]:
r=multiplier(100)
y=r(2)
print(y)

200

In [ ]:
c=lambda n:n**3

In [ ]:
r=c(100)
print(r)

1000000

In [ ]:
textupper=lambda str:str.upper()

In [ ]:
textupper("manan")

'MANAN'

In [ ]:
def Fullname(fname,lname):
  fn=fname+" "+lname
  s=lambda fn:fn.upper()
  print(s)

In [ ]:
Fullname("Manan","sethi")

<function Fullname.<locals>.<lambda> at 0x7caa70718040>

In [ ]:
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

class Bike(Vehicle):
  def move(self):
    print("Ride !")

car1 = Car("Ford", "Mustang") #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing Jet", "747") #Create a Plane object
bike1=Bike("Royal Feild","hunter350")

for x in (car1, boat1, plane1,bike1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing Jet
747
Fly!
Royal Feild
hunter350
Ride !

In [ ]:
import datetime as dt
import os

x = dt.datetime.now()

print(x)

2024-03-14 07:21:53.805607

In [ ]:
# prompt: datetime methods

import datetime

# Current date and time
now = datetime.datetime.now()
# Print date
print("Current date:")
print(now.date())

Current date:
2024-03-15

In [ ]:
now = datetime.datetime.now()
# Print date
print("Current date:")
print(now.time())

Current date:
07:23:28.223047

In [ ]:

# Print current date and time
print("Current date and time:")
print(now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time:
2024-03-14 07:23:28

In [ ]:

# Print year
print("Current year:")
print(now.year)

Current year:
2024

In [ ]:

# Print year
print("Current month:")
print(now.month)

Current year:
3

In [ ]:

# Print year
print("Current day:")
print(now.day)

Current day:
14

In [ ]:

# Create a datetime object from a specific date and time
date_time = datetime.datetime(2024, 3, 14, 12, 56, 45)

# Print the datetime object
print("Specific date and time:")
print(date_time)

# Print the year
print("Year:")
print(date_time.year)

# Print the month
print("Month:")
print(date_time.month)

# Print the day
print("Day:")
print(date_time.day)

# Print the hour
print("Hour:")
print(date_time.hour)

# Print the minute
print("Minute:")
print(date_time.minute)

# Print the second
print("Second:")
print(date_time.second)

# Print the microsecond
print("Microsecond:")
print(date_time.microsecond)

Specific date and time:
2024-03-14 12:56:45
Year:
2024
Month:
3
Day:
14
Hour:
12
Minute:
56
Second:
45
Microsecond:
0

In [ ]:
# prompt: datetime methods

import datetime

# Current date and time
now = datetime.datetime.now()
# Print date
print("Current date:")
print(now.date())

# Print time
print("Current time:")
print(now.time())


# Print current date and time
print("Current date and time:")
print(now.strftime("%Y-%m-%d %H:%M:%S"))

# Print year
print("Current year:")
print(now.year)

# Print month
print("Current month:")
print(now.month)

# Print day
print("Current day:")
print(now.day)

# Print hour
print("Current hour:")
print(now.hour)

# Print minute
print("Current minute:")
print(now.minute)

# Print second
print("Current second:")
print(now.second)

# Print microsecond
print("Current microsecond:")
print(now.microsecond)

# Print timezone
print("Current timezone:")
print(now.tzinfo)

# Create a datetime object from a specific date and time
date_time = datetime.datetime(2024, 3, 14, 12, 56, 45)

# Print the datetime object
print("Specific date and time:")
print(date_time)

# Print the year
print("Year:")
print(date_time.year)

# Print the month
print("Month:")
print(date_time.month)

# Print the day
print("Day:")
print(date_time.day)

# Print the hour
print("Hour:")
print(date_time.hour)

# Print the minute
print("Minute:")
print(date_time.minute)

# Print the second
print("Second:")
print(date_time.second)

# Print the microsecond
print("Microsecond:")
print(date_time.microsecond)

# Print the timezone
print("Timezone:")
print(date_time.tzinfo)

# Create a datetime object from a timestamp
timestamp = 16893790123

date_time = datetime.datetime.fromtimestamp(timestamp)

# Print the datetime object
print("Timestamp:")
print(date_time)

# Print the year
print("Year:")
print(date_time.year)

# Print the month
print("Month:")
print(date_time.month)

# Print the day
print("Day:")
print(date_time.day)

# Print the hour
print("Hour:")
print(date_time.hour)

# Print the minute
print("Minute:")
print(date_time.minute)

# Print the second
print("Second:")
print(date_time.second)

# Print the microsecond
print("Microsecond:")
print(date_time.microsecond)

# Print the timezone
print("Timezone:")
print(date_time.tzinfo)

Current date:
2024-03-14
Current time:
07:29:23.003677
Current date and time:
2024-03-14 07:29:23
Current year:
2024
Current month:
3
Current day:
14
Current hour:
7
Current minute:
29
Current second:
23
Current microsecond:
3677
Current timezone:
None
Specific date and time:
2024-03-14 12:56:45
Year:
2024
Month:
3
Day:
14
Hour:
12
Minute:
56
Second:
45
Microsecond:
0
Timezone:
None
Timestamp:
2505-05-05 23:28:43
Year:
2505
Month:
5
Day:
5
Hour:
23
Minute:
28
Second:
43
Microsecond:
0
Timezone:
None

In [ ]:
# prompt: random methods

import random as r
#randint
print(r.randint(100,200))
#random
print(r.random())
#uniform
print(r.uniform(100,200))
#randrange
print(r.randrange(100,200,2))
#choice
list1=[12,34,56,78,90,100]
print(r.choice(list1))
#sample
print(r.sample(list1,4))
#shuffle
r.shuffle(list1)
print(list1)
#seed
r.seed(10)
print(r.random())

161
0.5780913011344704
120.60982321395016
162
56
[100, 34, 12, 56]
[90, 34, 100, 12, 56, 78]
0.5714025946899135

In [ ]:

import random as r
#randint
print(r.randint(1,200))

40

In [ ]:
print(r.random())

0.9683530690236697

In [ ]:
print(r.uniform(100,200))

128.3560047677924

In [ ]:
print(r.randrange(1,200,2))

197

In [ ]:
list1=[12,34,56,78,90,100,77,99,55,43]
print(r.choice(list1))

99

In [ ]:
print(r.sample(list1,4))

[34, 90, 77, 12]

In [ ]:
list2=[9,7,4,5,3]

r.shuffle(list2)
print(list2)

[9, 3, 7, 5, 4]

In [ ]:
# prompt: try except in python

try:
    # Code that may raise an exception
    x = 100/'y'
except ZeroDivisionError:
    # Code to handle the exception
    print("Division by zero is not allowed")
except:
    # Code to handle any other exception
    print("An unexpected error occurred")
else:
    # Code to execute if no exception is raised
    print("The code executed successfully",x)
finally:
    # Code to execute regardless of whether an exception is raised or not
    print("This code will always be executed")

An unexpected error occurred
This code will always be executed

In [ ]:
try:
  x=100/8

except:
  print("Zero Division Error")
else:
  print(x)
print("Hello Python")

12.5
Hello Python

In [ ]:
try:
  print(y)
except:
  print("Name error")
print("Hello parth")

Name error
Hello parth

In [ ]:
try:
  x=100/0

except:
  print("Zero Division error")
else:
  print("result ",x)


print("Hello Kamal")

Zero Division error
Hello Kamal

In [ ]:
k="Hello Kamal"
try:
  print(k)
except:
  print("Variable not Defined")

Hello Kamal

In [ ]:
l=[77,88,99,44]
try:
  print(l[3])
except:
  print("Out of Range index")

44

In [ ]:
# AssertionError with error_message.
x = 10
y = 0
assert y != 0, "Invalid" # denominator can't be 0
print(x / y)

AssertionError: Invalid

In [ ]:
# Roots of a quadratic equation
import math
def Findroot(a, b, c):
	try:
		assert a != 0, "Not a quadratic equation as coefficient of x ^ 2 can't be 0"
		D = (b * b - 4 * a*c)
		assert D>= 0, "Roots are imaginary"
		r1 = (-b + math.sqrt(D))/(2 * a)
		r2 = (-b - math.sqrt(D))/(2 * a)
		print("Roots of the quadratic equation are :", r1, "", r2)
	except AssertionError as msg:
		print(msg)


Findroot(-1, 5, -6)
Findroot(1, 1, 6)
Findroot(2, 12, 18)

Roots of the quadratic equation are : 2.0  3.0
Roots are imaginary
Roots of the quadratic equation are : -3.0  -3.0

In [ ]:
# prompt: try except

try:
  x = 1 / 0
except ZeroDivisionError:
  print("Division by zero is not allowed")
else:
  print("The code executed successfully")
finally:
  print("This code will always be executed")

In [ ]:
# prompt: python RegEx

import re

# Create a regular expression object to match strings that start with 'a' and end with 'c'
pattern = re.compile(r'^a.*c$')

# Test the pattern against different strings
print(pattern.match('abc'))  # Match
print(pattern.match('abcd'))  # Match
print(pattern.match('bac'))  # No match
print(pattern.match('ab'))  # No match

# Create a regular expression object to match strings that contain the word 'python'
pattern = re.compile(r'.*python.*')

# Test the pattern against different strings
print(pattern.match('I love python'))  # Match
print(pattern.match('python is easy'))  # Match
print(pattern.match('I hate java'))  # No match

# Create a regular expression object to match strings that contain either 'python' or 'java'
pattern = re.compile(r'.*(python|java).*')

# Test the pattern against different strings
print(pattern.match('I love python'))  # Match
print(pattern.match('java is easy'))  # Match
print(pattern.match('I hate c++'))  # No match

# Create a regular expression object to match strings that contain a digit
pattern = re.compile(r'.*\d.*')

# Test the pattern against different strings
print(pattern.match('I have 10 apples'))  # Match
print(pattern.match('The price is $10'))  # Match
print(pattern.match('I love python'))  # No match

# Create a regular expression object to match strings that contain a word boundary followed by 'python'
pattern = re.compile(r'\bpython\b')

# Test the pattern against different strings
print(pattern.match('I love python'))  # Match
print(pattern.match('python is easy'))  # Match
print(pattern.match('pythonpython'))  # No match

<re.Match object; span=(0, 3), match='abc'>
None
None
None
<re.Match object; span=(0, 13), match='I love python'>
<re.Match object; span=(0, 14), match='python is easy'>
None
<re.Match object; span=(0, 13), match='I love python'>
<re.Match object; span=(0, 12), match='java is easy'>
None
<re.Match object; span=(0, 16), match='I have 10 apples'>
<re.Match object; span=(0, 16), match='The price is $10'>
None
None
<re.Match object; span=(0, 6), match='python'>
None

In [ ]:
# prompt: file handling in python

# Open a file in read mode
with open("my_file.txt", "r") as f:
    # Read the entire file content
    contents = f.read()
    # Print the content
    print(contents)

# Open a file in write mode
with open("my_file.txt", "w") as f:
    # Write some text to the file
    f.write("Hello, world!")

# Open a file in append mode
with open("my_file.txt", "a") as f:
    # Append some text to the file
    f.write("\nThis is another line.")

# Open a file in binary mode
with open("my_image.jpg", "rb") as f:
    # Read the binary data from the file
    image_data = f.read()

In [ ]:
!pip install Pandas

Requirement already satisfied: Pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from Pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from Pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from Pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->Pandas) (1.16.0)

In [ ]:
# Python 3  Map(), Filter(), Reduce(), Enumerator(),Zip()
#map(fun_name,iterable)

my_pets = ['alfred', 'tabitha', 'william', 'arla','Tomy',"puppy"]

my_pets1 = list(map(str.upper, my_pets))

print(my_pets1)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA', 'TOMY', 'PUPPY']

In [ ]:
def votingAge(age):
   # checking whether the number is greater than or equal to 18
   if age>=18:
    return age

inputList = [3, 20, 18, 6, 14, 25, 19,88,99,56,45,13,12,17]
result = list(filter(votingAge, inputList))

print((result))

[20, 18, 25, 19, 88, 99, 56, 45]

In [ ]:
# prompt: filter function

!pip install numpy

In [ ]:
from functools import reduce
# function that returns the sum of all list items
def addNum(x, y):
   return x+y
# input list
inputList = [12, 4, 10, 15, 6, 5,99,90,66,45,11,6,3,66,909,55,3232]
# Print the sum of the list items using reduce() function
print("The sum of all list items:")
res=reduce(addNum, inputList)
print(res)

The sum of all list items:
4634

In [ ]:
l1 = ["eat", "sleep", "repeat","read","watch"]
s1 = "MUKESH"
dir=["East","west","North","South","Up","Down"]
print ("Return type:", type(l1),type(dir),type(s1))

# creating enumerate objects
obj1 = enumerate(l1)
obj2 = enumerate(s1)

print ("Return type:", type(obj1),type(obj2))


print (list(enumerate(l1)))
print (list(enumerate(l1))[2][1])


# changing start index to 2 from 0
#print(list(enumerate(s1,11)))

#print(list(enumerate(dir)))

Return type: <class 'list'> <class 'list'> <class 'str'>
Return type: <class 'enumerate'> <class 'enumerate'>
[(0, 'eat'), (1, 'sleep'), (2, 'repeat'), (3, 'read'), (4, 'watch')]
repeat

In [ ]:
# create a list of names
names = ['sravan', 'bobby', 'ojaswi', 'rohith', 'gnanesh']

# create a list of subjects
subjects = ['java', 'python', 'R', 'cpp', 'bigdata']

# create a list of marks
marks = [78, 100, 97, 89, 80]

gender=['M','F','M','M','M']

# use enumerate() and zip() function
# to iterate the lists
t=enumerate(zip(names, subjects, marks,gender))

for i, (names, subjects, marks,gender) in t :
	print(i, names, subjects, marks,gender)

0 sravan java 78 M
1 bobby python 100 F
2 ojaswi R 97 M
3 rohith cpp 89 M
4 gnanesh bigdata 80 M

In [ ]:
# create a list of names
names = ['sravan', 'bobby', 'ojaswi', 'rohith', 'gnanesh']

# create a list of subjects
subjects = ['java', 'python', 'R', 'cpp', 'bigdata']

# create a list of marks
marks = [78, 100, 97, 89, 80]
gender=['M','F','M','M','M']

# use enumerate() and zip() function
# to iterate the lists with t function
for i, t in enumerate(zip(names, subjects, marks,gender)):
	print(i, t)

0 ('sravan', 'java', 78, 'M')
1 ('bobby', 'python', 100, 'F')
2 ('ojaswi', 'R', 97, 'M')
3 ('rohith', 'cpp', 89, 'M')
4 ('gnanesh', 'bigdata', 80, 'M')

In [ ]:
# create a list of names
names = ['sravan', 'bobby', 'ojaswi', 'rohith', 'gnanesh']

# create a list of subjects
subjects = ['java', 'python', 'R', 'cpp', 'bigdata']

# create a list of marks
marks = [78, 100, 97, 89, 80]
gender=['M','F','M','M','M']
# use enumerate() and zip() function
# to iterate the lists with t function
zipfile=zip(names, subjects, marks,gender)

st_marks_details=enumerate(zipfile)

for i, t in st_marks_details :
	print(i, t[0], t[1],t[2],t[3])

0 sravan java 78 M
1 bobby python 100 F
2 ojaswi R 97 M
3 rohith cpp 89 M
4 gnanesh bigdata 80 M

In [ ]:
#eval()
print('55+66-5')
a=9
p=2
print(eval('55+66-5+a+p'))

55+66-5
127

In [ ]:
r=10.5
r1=(eval('55+66-6+r'))
print(r1,type(r1))

125.5 <class 'float'>

In [ ]:
#Exercise - Sales data analysis using File handling  Home Work

In [ ]:
#python Decorator
def Sayhello(name):
  return name.upper()

Sayhello("Parth")

'PARTH'

In [ ]:
x=Sayhello
print(x("india"))

INDIA

In [ ]:
# Python program to illustrate functions
# can be passed as arguments to other functions
def fun1(text):
	return text.upper()

def fun2(text):
	return text.lower()

def Add(n1,n2):
    s=n1+n2
    return s

def AddNumber(func):
  res=func(55,88)
  print(res)

def greet(func):
	# storing the function in a variable
	greeting = func("Hi i am Indian")
	print(greeting)

greet(fun1)
greet(fun2)


AddNumber(Add)

HI I AM INDIAN
hi i am indian
143

In [ ]:
# Python program to illustrate functions
# Functions can return another function

def adder(x):
  print(x)
  def add(y):
    print(y)
    return x+y
  return add

add_15 = adder(15)

print(add_15(10))

15
10
25

In [ ]:
# prompt: krishnamurti number
def fact(num):
  if num==0 or num==1:
    return 1
  else:
    return(num*fact(num-1))


print(fact(5))

120

In [ ]:
def Krishnamurthy(num):
  sum = 0
  temp = num
  while temp!=0:
    d=temp%10
    f=fact(d)
    print(f)
    sum = sum + f
    temp = temp // 10
  if num == sum:
    print(num,"is a Krishnamurthy number")
  else:
    print(num,"is not a Krishnamurthy number")
Krishnamurthy(145)
Krishnamurthy(371)

120
24
1
145 is a Krishnamurthy number
1
5040
6
371 is not a Krishnamurthy number

In [ ]:
# code for testing decorator chaining
def decor1(func):
	def inner():
		x = func()
		return x * x
	return inner

def decor2(func):
	def inner():
		x = func()
		return 2 * x
	return inner

@decor1
@decor2
def num():
	return 10

@decor2
@decor1
def num2():
	return 10

print(num())
print(num2())

400
200

In [ ]:
# math module

In [ ]:
# prompt: math functions

import math

# Find the square root of a number
print(math.sqrt(2))

# Find the absolute value of a number
print(math.fabs(-5))

# Find the ceiling of a number
print(math.ceil(4.5))

# Find the floor of a number
print(math.floor(4.5))

# Find the exponential of a number
print(math.exp(1))

# Find the natural logarithm of a number
print(math.log(10))

# Find the base 10 logarithm of a number
print(math.log10(10))

# Find the sine of an angle in radians
print(math.sin(math.pi/2))

# Find the cosine of an angle in radians
print(math.cos(math.pi/2))

# Find the tangent of an angle in radians
print(math.tan(math.pi/4))

# Find the arc sine of a value
print(math.asin(1))

# Find the arc cosine of a value
print(math.acos(0))

# Find the arc tangent of a value
print(math.atan(1))

# Find the hyperbolic sine of a value
print(math.sinh(1))

# Find the hyperbolic cosine of a value
print(math.cosh(1))

# Find the hyperbolic tangent of a value
print(math.tanh(1))

# Find the inverse hyperbolic sine of a value
print(math.asinh(1))

# Find the inverse hyperbolic cosine of a value
print(math.acosh(1))

# Find the inverse hyperbolic tangent of a value
print(math.atanh(1))

# Find the gamma function of a value
print(math.gamma(1))

# Find the factorial of a value
print(math.factorial(5))

# Find the greatest common divisor of two values
print(math.gcd(12, 8))

# Find the least common multiple of two values
print(math.lcm(12, 8))

# Find the value of pi
print(math.pi)

# Find the value of e
print(math.e)

# Find the value of the golden ratio
print(math.phi)

# Find the value of the square root of 2
print(math.sqrt(2))

# Find the value of the cube root of 2
print(math.cbrt(2))

# Find the value of the natural logarithm of 2
print(math.log(2))

# Find the value of the base 10 logarithm of 2
print(math.log10(2))

# Find the value of the sine of 30 degrees
print(math.sin(math.pi/6))

# Find the value of the cosine of 30 degrees
print(math.cos(math.pi/6))

# Find the value of the tangent of 30 degrees
print(math.tan(math.pi/6))

# Find the value of the arc sine of 0.5
print(math.asin(0.5))

# Find the value of the arc cosine of 0.5
print(math.acos(0.5))

# Find the value of the arc tangent of 0.5
print(math.atan(0.5))

# Find the value of the hyperbolic sine of 1
print(math.sinh(1))

# Find the value of the hyperbolic cosine of 1
print(math.cosh(1))

# Find the value of the hyperbolic tangent of 1
print(math.tanh(1))

# Find the value of the inverse hyperbolic sine of 1
print(math.asinh(1))

# Find the value of the inverse hyperbolic cosine of 1
print(math.acosh(1))

# Find the value of the inverse hyperbolic tangent of 1
print(math.atanh(1))

# Find the value of the gamma function of 1
print(math.gamma(1))

# Find the value of the factorial of 5
print(math.factorial(5))

# Find the value of the greatest common divisor of 12 and 8
print(math.gcd(12, 8))

# Find the value of the least common multiple of 12 and 8
print(math.lcm(12, 8))

# Find the value of pi
print(math.pi)

# Find the value of e
print(math.e)

# Find the value of the golden ratio
print(math.phi)

# Find the value of the square root of 2
print(math.sqrt(2))

# Find the value of the cube root of 2
print(math.cbrt(2))

# Find the value of the natural logarithm of 2
print(math.log(2))

# Find the value of the base 10 logarithm of 2
print(math.log10(2))

# Find the value of the sine of 30 degrees
print(math.sin(math.pi/6))

# Find the value of the cosine of 30 degrees
print(math.cos(math.pi/6))

# Find the value of the tangent of 30 degrees
print(math.tan(math.pi/6))

# Find the value of the arc sine of 0.5
print(math.asin(0.5))

# Find the value of the arc cosine of 0.5
print(math.acos(0.5))

# Find the value of the arc tangent of 0.5
print(math.atan(0.5))

# Find the value of the hyperbolic sine of 1
print(math.sinh(1))

# Find the value of the hyperbolic cosine of 1
print(math.cosh(1))

# Find the value of the hyperbolic tangent of 1
print(math.tanh(1))

# Find the value of the inverse hyperbolic sine of 1
print(math.asinh(1))

# Find the value of the inverse hyperbolic cosine of 1
print(math.acosh(1))

# Find the value of the inverse hyperbolic tangent of 1
print(math.atanh(1))

# Find the value of the gamma function of 1
print(math.gamma(1))

# Find the value of the factorial of 5
print(math.factorial(5))

# Find the value of the greatest common divisor of 12 and 8
print(math.gcd(12, 8))

# Find the value of the least common multiple of 12 and 8
print(math.lcm(12, 8))

# Find the value of pi
print(math.pi)

# Find the value of e
print(math.e)

# Find the value of the golden ratio
print(math.phi)

# Find the value of the square root of 2
print(math.sqrt(2))

# Find the value of the cube root of 2
print(math.cbrt(2))

# Find the value of the natural logarithm of 2
print(math.log(2))

# Find the value of the base 10 logarithm of 2
print(math.log10(2))

# Find the value of the sine of 30 degrees
print(math.sin(math.pi/6))

# Find the value of the cosine of 30 degrees
print(math.cos(math.pi/6))

# Find the value of the tangent of 30 degrees
print(math.tan(math.pi/6))

# Find the value of the arc sine of 0.5
print(math.asin(0.5))

# Find the value of the arc cosine of 0.5
print(math.acos(0.5))

# Find the value of the arc tangent of 0.5
print(math.atan(0.5))

# Find the value of the hyperbolic sine of 1
print(math.sinh(1))

# Find the value of the hyperbolic cosine of 1
print(math.cosh(1))

# Find the value of the hyperbolic tangent of 1
print(math.tanh(1))

# Find the value of the inverse hyperbolic sine of 1
print(math.asinh(1))

# Find the value of the inverse hyperbolic cosine of 1
print(math.acosh(1))

# Find the value of the inverse hyperbolic tangent of 1
print(math.atanh(1))

# Find the value of the gamma function of 1
print(math.gamma(1))

# Find the value of the factorial of 5
print(math.factorial(5))

# Find the value of the greatest common divisor of 12 and 8
print(math.gcd(12, 8))

# Find the value of the least common multiple of 12 and 8
print(math.lcm(12, 8))

# Find the value of pi
print(math.pi)

# Find the value of e
print(math.e)

# Find the value

In [ ]:
import math

# Find the square root of a number
s=math.sqrt(27)
print(s)

x=math.floor(s)

y=math.ceil(s)

print(x)
print(y)

print(math.fabs(-5))

print(math.pi)

r=28.99
area=math.pi*r**2

print("Area of Circle is",area)
a=15
f=math.factorial(a)
print(f"Factoprial of {a} is {f}")

n1=32
n2=68

hcf=math.gcd(n1,n2,88)
print(hcf)

lcm=math.lcm(n1,n2,88)
print(lcm)

5.196152422706632
5
6
5.0
3.141592653589793
Area of Circle is 2640.257612089199
Factoprial of 15 is 1307674368000
4
5984

In [ ]:
def findfactor(num):
  j=1
  while(j<=num):
    if num%j==0:
      print(j,end=',')
    j+=1

In [ ]:
findfactor(168)

numlist=[1,2,3,4,6,7,8,12,14,21,24,28,42,56,84,168]
print()

print(sum(numlist))
print(max(numlist))

1,2,3,4,6,7,8,12,14,21,24,28,42,56,84,168,
480
168

In [ ]:
#iterator
class MySequencer:
  def __iter__(self):
    self.a = 101
    return self

  def __next__(self):

    x = self.a
    self.a += 1
    return x

In [ ]:
myseq = MySequencer()
myiter = iter(myseq)

for i in range(100):
  print(next(myiter),"TGC")

101 TGC
102 TGC
103 TGC
104 TGC
105 TGC
106 TGC
107 TGC
108 TGC
109 TGC
110 TGC
111 TGC
112 TGC
113 TGC
114 TGC
115 TGC
116 TGC
117 TGC
118 TGC
119 TGC
120 TGC
121 TGC
122 TGC
123 TGC
124 TGC
125 TGC
126 TGC
127 TGC
128 TGC
129 TGC
130 TGC
131 TGC
132 TGC
133 TGC
134 TGC
135 TGC
136 TGC
137 TGC
138 TGC
139 TGC
140 TGC
141 TGC
142 TGC
143 TGC
144 TGC
145 TGC
146 TGC
147 TGC
148 TGC
149 TGC
150 TGC
151 TGC
152 TGC
153 TGC
154 TGC
155 TGC
156 TGC
157 TGC
158 TGC
159 TGC
160 TGC
161 TGC
162 TGC
163 TGC
164 TGC
165 TGC
166 TGC
167 TGC
168 TGC
169 TGC
170 TGC
171 TGC
172 TGC
173 TGC
174 TGC
175 TGC
176 TGC
177 TGC
178 TGC
179 TGC
180 TGC
181 TGC
182 TGC
183 TGC
184 TGC
185 TGC
186 TGC
187 TGC
188 TGC
189 TGC
190 TGC
191 TGC
192 TGC
193 TGC
194 TGC
195 TGC
196 TGC
197 TGC
198 TGC
199 TGC
200 TGC

In [ ]:
#Dunder methods or Magic Function


num=10
print(type(num))
#res=num+5
#print(res)
res = num.__add__(15)
print(res)

<class 'int'>
25

In [ ]:
import math
a=100
b=90
c=a+b
print(c.__add__(55))
print(c.__sub__(20))
print(dir())

print(math.sqrt(5))

245
170
['In', 'MySequencer', 'Out', '_', '_2', '_3', '_5', '__', '___', '__builtin__', '__builtins__', '__doc__', '__loader__', '__name__', '__package__', '__spec__', '_dh', '_i', '_i1', '_i10', '_i11', '_i12', '_i13', '_i14', '_i15', '_i16', '_i17', '_i18', '_i2', '_i3', '_i4', '_i5', '_i6', '_i7', '_i8', '_i9', '_ih', '_ii', '_iii', '_oh', 'a', 'b', 'c', 'exit', 'get_ipython', 'i', 'math', 'myiter', 'myseq', 'num', 'quit', 'res']
2.23606797749979