In [ ]:
# prompt: print a triangular number pattern

for i in range(1, 10):
  print(' ' * (10 - i), end='')
  for j in range(i):
    print(j + 1, end=' ')
  print()

         1
        1 2
       1 2 3
      1 2 3 4
     1 2 3 4 5
    1 2 3 4 5 6
   1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8
 1 2 3 4 5 6 7 8 9

In [ ]:
s=0
for k in range(1,11):
    n=int(input("enter any number"))
    s=s+n
print(f"sum is={s}")

enter any number12
enter any number13
enter any number14
enter any number15
enter any number16
enter any number17
enter any number18
enter any number19
enter any number20
enter any number21
sum is=165

In [ ]:
high=0
for k in range(1,6):
    n=int(input("enter any number"))
    if(high<n):
       high=n
print("Highest value is",high)

enter any number12
enter any number43
enter any number35
enter any number46
enter any number69
Highest value is 69

In [ ]:
n=int(input("Enter any number"))
low=n
for k in range(1,5):
  n=int(input("Enter any number"))
  if(low>n):
    low=n
print("Lowest value is",low)

Enter any number12
Enter any number11
Enter any number10
Enter any number14
Enter any number15
Lowest value is 10

In [ ]:
n = int(input("Enter number of rows: "))

for i in range(1,n+1):
    for j in range(1, i+1):
        print(i, end="")
    print()