In [ ]:

def Factorial(n):
  if n==0 or n==1:
    return 1
  else:
    fact=n*Factorial(n-1)

  return fact

In [ ]:
n=int(input("Enter value of n:"))
r=Factorial(n)
print(f"factorial of {n} is {r}")

Enter value of n:10
factorial of 10 is 3628800

In [ ]:
def Nsum(n):
  if n==0 :
    return 0
  else:
    s=n+Nsum(n-1)

  return s

In [ ]:
n=int(input("Enter value of n:"))
r=Nsum(n)
print(f"Sum of First{n} natural number is {r}")

Enter value of n:100
Sum of First100 natural number is 5050

In [ ]:
#variable length arguments
def Traverse(*data):
  for a in data:
    print(a,end=' ')

In [ ]:
def Total(*data):
  t=0
  for a in data:
    t=t+a
  print("Total is ",t)

In [ ]:
Traverse()
print()
Traverse(123)
print()
Traverse(33,66,77)
print()
Traverse(76,37,4,86,37,46,37)
print()
Total(76,37,4,86,37,46,37)

123
33 66 77
76 37 4 86 37 46 37
Total is  323

In [ ]:
def Dispdata(**person):
  for k in person:
    print(f"{k} : {person[k]}")

In [ ]:
Dispdata(name="Manan",age=18,Address="NewDelhi",occupation="Student")

name : Manan
age : 18
Address : NewDelhi
occupation : Student

In [ ]:
def Display(a,*c,**k):
  print(a)
  for x in c:
    print(x)
  print()
  for y in k:
    print(f"{y} : {k[y]}")

In [ ]:
Display(101,"DELHI","Mumbai",id=1011,name="Raj")

101
DELHI
Mumbai

id : 1011
name : Raj

In [ ]:
def Show(x,*y,**z):
  print(x)
  print()
  for p in y:
    print(p)
    print()
  for q in z:
    print(f"{q} : {z[q]}")

In [ ]:
Show("pal",232,"manan",id=101,name="suraj")

pal

232

manan

id : 101
name : suraj

In [ ]:
#python collection:List
data1=[]
data2=list()

data =[43,68,354,35,893,42,43264,78,564378,56,743,843,65,46]
print(data,type(data))
print(data1,type(data1))
print(data2,type(data2))

[43, 68, 354, 35, 893, 42, 43264, 78, 564378, 56, 743, 843, 65, 46] <class 'list'>
[] <class 'list'>
[] <class 'list'>

In [ ]:
print(data[0:7])

[43, 68, 354, 35, 893, 42, 43264]

In [ ]:
print(data[3::])

[35, 893, 42, 43264, 78, 564378, 56, 743, 843, 65, 46]

In [ ]:
print(data[7])

78

In [ ]:
print("first data item ",data[0])

first data item  43

In [ ]:
print("last data item ",data[-1])

last data item  46

In [ ]:
l=len(data)
print(l)
print(data[0:l:2])

14
[43, 354, 893, 43264, 564378, 743, 65]

In [ ]:
print(data[::-1])

[46, 65, 843, 743, 56, 564378, 78, 43264, 42, 893, 35, 354, 68, 43]

In [ ]:
print(data[-10:-5:])

[893, 42, 43264, 78, 564378]

In [ ]:
mylist=[23,77,[66,88,99],(54,64,33,44),{22,44,22,33,93},"Suraj",False,23+6j,{"A":1011,"B":7777,"C":"DELHI"},122333.999]

In [ ]:
print(mylist)

[23, 77, [66, 88, 99], (54, 64, 33, 44), {33, 44, 93, 22}, 'Suraj', False, (23+6j), {'A': 1011, 'B': 7777, 'C': 'DELHI'}, 122333.999]

In [ ]:
print(mylist[0],"\t",mylist[-1])

23 	 122333.999

In [ ]:
print(mylist[2])
print(mylist[2][1])

[66, 88, 99]
88

In [ ]:
print(mylist[4])

{33, 44, 93, 22}

In [ ]:
print(mylist[-2])

{'A': 1011, 'B': 7777}

In [ ]:
print(mylist[-2]["A"])

1011

In [ ]:
print(mylist[-2].get("A"))

1011

In [ ]:
print("Suraj" in mylist)

True

In [ ]:
print(mylist.index("Suraj"))

5

In [ ]:
mylist.append("Manan")

In [ ]:
print(mylist)

[23, 77, [66, 88, 99], (54, 64, 33, 44), {33, 44, 93, 22}, 'Suraj', False, (23+6j), {'A': 1011, 'B': 7777}, 122333.999, 'Manan']

In [ ]:
mylist.insert(5,"Ankit")

In [ ]:
print(mylist)

[23, 77, [66, 88, 99], (54, 64, 33, 44), {33, 44, 93, 22}, 'Ankit', 'Suraj', False, (23+6j), {'A': 1011, 'B': 7777}, 122333.999, 'Manan']

In [ ]:
names=["Mukesh","kamal","Rahul"]
tupl1=(555,888,999,777)

In [ ]:
mylist.extend(names)

In [ ]:
mylist.extend(tupl1)

In [ ]:
print(mylist)

[23, 77, [66, 88, 99], (54, 64, 33, 44), {33, 44, 93, 22}, 'Ankit', 'Suraj', False, (23+6j), {'A': 1011, 'B': 7777}, 122333.999, 'Manan', 'Mukesh', 'kamal', 'Rahul', 555, 888, 999, 777]

In [ ]:
print(type(mylist[6]))

<class 'str'>

In [ ]:
for i in range(0,len(mylist)):
  print(i,"\t",mylist[i],"\t\t",type(mylist[i]))

0 	 23 		 <class 'int'>
1 	 77 		 <class 'int'>
2 	 [66, 88, 99] 		 <class 'list'>
3 	 (54, 64, 33, 44) 		 <class 'tuple'>
4 	 {33, 44, 93, 22} 		 <class 'set'>
5 	 Ankit 		 <class 'str'>
6 	 Suraj 		 <class 'str'>
7 	 False 		 <class 'bool'>
8 	 (23+6j) 		 <class 'complex'>
9 	 {'A': 1011, 'B': 7777} 		 <class 'dict'>
10 	 122333.999 		 <class 'float'>
11 	 Manan 		 <class 'str'>
12 	 Mukesh 		 <class 'str'>
13 	 kamal 		 <class 'str'>
14 	 Rahul 		 <class 'str'>
15 	 555 		 <class 'int'>
16 	 888 		 <class 'int'>
17 	 999 		 <class 'int'>
18 	 777 		 <class 'int'>

In [ ]:
mylist=[23,77,[66,88,99],(54,64,33,44),{22,44,22,33,93},"Suraj",False,23+6j,{"A":1011,"B":7777,"C":"DELHI"},122333.999]
for i in range(0,len(mylist)):
  print(i,"\t",mylist[i],"\t\t",type(mylist[i]))

0 	 23 		 <class 'int'>
1 	 77 		 <class 'int'>
2 	 [66, 88, 99] 		 <class 'list'>
3 	 (54, 64, 33, 44) 		 <class 'tuple'>
4 	 {33, 44, 93, 22} 		 <class 'set'>
5 	 Suraj 		 <class 'str'>
6 	 False 		 <class 'bool'>
7 	 (23+6j) 		 <class 'complex'>
8 	 {'A': 1011, 'B': 7777, 'C': 'DELHI'} 		 <class 'dict'>
9 	 122333.999 		 <class 'float'>

In [ ]:
print(mylist[8]["C"],"\t",type(mylist[8]["C"]))

DELHI 	 <class 'str'>

In [ ]:
print(42 in data)

True

In [ ]:
print(420 in data)

False

In [ ]:
print(42 not in data)

False

In [ ]:
print(412 not in data)

True

In [ ]:
print(data[-1])

46

In [ ]:
data[-1]=4600

In [ ]:
print(data)

[43, 68, 354, 35, 893, 42, 43264, 78, 564378, 56, 743, 843, 65, 4600]

In [ ]:
print(data)

[450, 550, 650, 35, 893, 42, 43264, 78, 564378, 56, 743, 843, 65, 4600]

In [ ]:
data[0:3]=450,550,650

In [ ]:
data.insert(0,1250)

In [ ]:
print(data)

[1250, 450, 550, 650, 35, 893, 42, 43264, 78, 564378, 56, 743, 843, 65, 4600]

In [ ]:
# ADD data
data.append(1000)

In [ ]:
print(data)

[1250, 450, 550, 650, 35, 893, 42, 43264, 78, 564378, 56, 743, 843, 65, 4600, 1000]

In [ ]:
data.insert(4,9000)

In [ ]:
print(data)

[1250, 450, 550, 650, 9000, 35, 893, 42, 43264, 78, 564378, 56, 743, 843, 65, 4600, 1000]

In [ ]:
data1=[7877,8979,8789,7889,7897,8979]

In [ ]:
data.extend(data1)

In [ ]:
print(data)

[43, 68, 354, 35, 893, 42, 43264, 78, 564378, 56, 743, 843, 65, 46]

In [ ]:
# find Total
print(f"sum is {sum(data)}")

sum is 610908

In [ ]:
print(f"highest value is {max(data)}")

highest value is 564378

In [ ]:
print(f"lowest value is {min(data)}")

lowest value is 35

In [ ]:
print(f"Average value is {sum(data)/len(data)}")

Average value is 43636.28571428572

In [ ]:
data2=data1+data
print(data2)

[43, 68, 354, 35, 893, 42, 43264, 78, 564378, 56, 743, 843, 65, 46]

In [ ]:
mylist1=list()

In [ ]:
print(mylist1)

[]

In [ ]:
mylist1.append(5503)

In [ ]:
print(mylist1)

[5503]

In [ ]:
def ADDITEM():
  while(True):
    num=int(input("Enter any random number"))
    mylist1.append(num)
    print("Data Added ..")
    print("Want to add more press y otherwise N")
    ans=input()
    if ans=='y' or ans=='Y':
      continue
    else:
      break

In [ ]:
ADDITEM()

Enter any random number7771
Data Added ..
Want to add more press y otherwise N
y
Enter any random number9000
Data Added ..
Want to add more press y otherwise N
n

In [ ]:
print(mylist1)

[5503, 5555, 8888, 7771, 9000]

In [ ]:
#remove dataitem
mylist1.remove(5503)

In [ ]:
print(mylist1)

[5555, 8888, 7771, 9000]

In [ ]:
mylist1.pop()

9000

In [ ]:
print(mylist1)

[5555, 8888, 7771]

In [ ]:
mylist1.pop(0)

5555

In [ ]:
print(mylist1)

[8888, 7771]

In [ ]:
del mylist1[0]

In [ ]:
print(mylist1)

[7771]

In [ ]:
del mylist1

In [ ]:
mylist2=[]

In [ ]:
print(mylist2)

[]

In [ ]:
mylist.clear()

In [ ]:
print(mylist)

[]

In [ ]:
mystate=list()

In [ ]:
print(mystate)

[]

In [ ]:
while(True):
  state=input("Enter any state name")
  mystate.append(state)
  print("Item Added")
  print("Want to add more press y otherwise N")
  ans=input()
  if ans=='y' or ans=='Y':
    continue
  else:
    break

Enter any state nameDelhi
Item Added
Want to add more press y otherwise N
y
Enter any state nameGujarat
Item Added
Want to add more press y otherwise N
y
Enter any state namemaharashtra
Item Added
Want to add more press y otherwise N
y
Enter any state namepunjab
Item Added
Want to add more press y otherwise N
n

In [ ]:
print(mystate)

['Delhi', 'Gujarat', 'maharashtra', 'punjab']

In [ ]:
#access list data using loop
for state in mystate:
  print(state)

Delhi
Gujarat
maharashtra
punjab

In [ ]:
for i in range(0,len(mystate)):
  print(f"{i+1} :{mystate[i]} {len(mystate[i])}")

1 :Delhi 5
2 :Gujarat 7
3 :maharashtra 11
4 :punjab 6

In [ ]:
y=[x for x in mystate]

In [ ]:
print(y)

['Delhi', 'Gujarat', 'maharashtra', 'punjab']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango","Papaya","chiku","berry"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

In [ ]:
print(newlist)

['apple', 'banana', 'mango', 'Papaya']

In [ ]:
newlist1 = [f for f in fruits if "a"  not in f]

print(newlist1)

['cherry', 'kiwi', 'chiku', 'berry']

In [ ]:
nlist = [x for x in range(1,102,2)]

In [ ]:
print(nlist)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101]

In [ ]:
# Tuple
t1=()
t2=tuple()
t3=(73,67,36,47,6)
t4=(78,)
t5=(77)

print(t1, type(t1))
print(t2, type(t2))
print(t3, type(t3))
print(t4, type(t4))
print(t5, type(t5))

() <class 'tuple'>
() <class 'tuple'>
(73, 67, 36, 47, 6) <class 'tuple'>
(78,) <class 'tuple'>
77 <class 'int'>

In [ ]:
data4=(36,75,1,5,'M',"Kamal",666.999,True,4+3j)

In [ ]:
print(data4,type(data4))

(36, 75, 1, 5, 'M', 'Kamal', 666.999, True, (4+3j)) <class 'tuple'>

In [ ]:
for d in data4:
  print(d," :", type(d))

36  : <class 'int'>
75  : <class 'int'>
1  : <class 'int'>
5  : <class 'int'>
M  : <class 'str'>
Kamal  : <class 'str'>
666.999  : <class 'float'>
True  : <class 'bool'>
(4+3j)  : <class 'complex'>

In [ ]:
x=list(data4)
print(x)

[36, 75, 1, 5, 'M', 'Kamal', 666.999, True, (4+3j)]

In [ ]:
x.append("Hello India")

In [ ]:
x.insert(0,"TGC")

In [ ]:
t6=(66,87,67,676,36,36)
x.extend(t6)

In [ ]:
print(x)

['TGC', 36, 75, 1, 5, 'M', 'Kamal', 666.999, True, (4+3j), 'Hello India', 66, 87, 67, 676, 66, 87, 67, 676, 36, 36]

In [ ]:
data4=tuple(x)
print(data4)
print(data4.count(36))

('TGC', 36, 75, 1, 5, 'M', 'Kamal', 666.999, True, (4+3j), 'Hello India', 66, 87, 67, 676, 66, 87, 67, 676, 36, 36)
3

In [ ]:
#unpacking tuple
population=(50000000,90000000,70000000,760000000,34000000)
print(population)

UP,MH,DL,MP,UK=population
print(UP)
print(MH)
print(DL)
print(UK)
print(MP)

print("Total Population",sum(population))

(50000000, 90000000, 70000000, 760000000, 34000000)
50000000
90000000
70000000
34000000
760000000
Total Population 1004000000

In [ ]:
BH,*OTHERS=population

print(BH)
print(OTHERS)

50000000
[90000000, 70000000, 760000000, 34000000]

In [ ]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry","mango")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

myfavfruit=fruits[1]
print(myfavfruit)

if "mango" in fruits:
  print(fruits.index("mango"))

  print(fruits.count("mango"))

apple
['mango', 'papaya', 'pineapple', 'cherry']
mango
mango
1
2

In [ ]:
def Greet():
    print("Hello Sir Good Morning")

Person1={
    "id":101,
    "first_name":"Kamal",
    "last_name":"sharma",
    "age":20,
    "address":"373,kohat enclave",
    "city":"Delhi",
    "dob":"05-07-2002"
    }

In [ ]:
print(Person1)
Greet()

{'id': 101, 'first_name': 'Kamal', 'last_name': 'sharma', 'age': 20, 'address': '373,kohat enclave', 'city': 'Delhi', 'dob': '05-07-2002'}
Hello Sir Good Morning

In [ ]:
#date module
import datetime

x = datetime.datetime.now()
print(x)
print(x.year)
print(x.strftime("%a"))

2024-01-25 13:21:01.835869
2024
Thu

In [ ]:
import calendar
year=int(input("Enter year :"))
cal=calendar.calendar(year)
print(cal)
print(calendar.month(year,1))

Enter year :2024
                                  2024

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

    January 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [ ]:
# prompt: holidays of India

import calendar
import datetime

def is_holiday(year, month, day):
  holidays = [
      (1, 26, "Republic Day"),
      (1, 27, "Netaji Subhash Chandra Bose Jayanti"),
      (2, 1, "Saraswati Puja"),
      (3, 8, "Holi"),
      (3, 26, "Chaitra Navratri"),
      (4, 14, "Ram Navami"),
      (4, 2, "Good Friday"),
      (4, 14, "Baisakhi"),
      (5, 1, "Buddha Purnima"),
      (5, 26, "Id-ul-Fitr"),
      (6, 15, "Raksha Bandhan"),
      (6, 25, "Janmashtami"),
      (7, 11, "Guru Purnima"),
      (8, 15, "Independence Day"),
      (8, 24, "Onam"),
      (9, 10, "Dussehra"),
      (9, 22, "Durga Puja"),
      (10, 2, "Gandhi Jayanti"),
      (10, 24, "Diwali"),
      (11, 14, "Chhath Puja"),
      (12, 25, "Christmas Day")
  ]

  for holiday in holidays:
    if holiday[0] == month and holiday[1] == day:
      return holiday[2]

  return None

def main():
  year = int(input("Enter the year: "))
  month = int(input("Enter the month: "))
  day = int(input("Enter the day: "))

  holiday = is_holiday(year, month, day)

  if holiday is None:
    print("No holiday on this day.")
  else:
    print(f"Holiday: {holiday}")

if __name__ == "__main__":
  main()

Enter the year: 2024
Enter the month: 1
Enter the day: 26
Holiday: Republic Day

In [ ]:
# python set
# create set object
set1={}
set2 =set()
set3={1,2,2,3,4,5,6,5,6,7,6,7,8,7,8,7,9,9,0,9}
s1={'a','b','c','d','e','f','g','h','i','j','k','l'}
s2={"Delhi","Haryana","Mumbai","Kolkata"}
s3={"Delhi","Bihar","Patna","chandigarh"}
print(set1,type(set1))
print(set2)
print(set3)
print(s1)
print(s2)
print(len(set2))
print(len(set3))
print(len(s1))
print(len(s2))
z=s1.isdisjoint(s2)
print(z)

{} <class 'dict'>
set()
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{'g', 'i', 'c', 'f', 'k', 'd', 'l', 'e', 'b', 'j', 'a', 'h'}
{'Haryana', 'Mumbai', 'Delhi', 'Kolkata'}
0
10
12
4
True

In [ ]:
def Showcity():
  for c in s2:
    print(c)

In [ ]:
def Addcity():
  city=input("Enter city name :")
  s2.add(city)
  print("City name added")

In [ ]:
def Delcity():
  cityname=input("enter city name")
  s2.remove(cityname)

In [ ]:
def Menu():
  mymenu="""
  ______MENU______
  1. add data
  2. display data
  3. remove data
  0. exit
  ________________"""
  print(mymenu)

In [ ]:
Menu()
while(True):

  op=int(input("enter option:"))
  if op==1:
    Addcity()
  elif op==2:
    Showcity()
  elif op==3:
    Delcity()
  elif op==0:
    break;
  else:
    print("please enter valid option")

  ______MENU______
  1. add data
  2. display data
  3. remove data
  0. exit
  ________________
enter option:0

In [ ]:
s4=s2.union(s3)
print(s4)

{'chandigarh', 'Kolkata', 'Bihar', 'Patna', 'Haryana', 'Mumbai', 'Delhi'}

In [ ]:
s2.update(s3)
print(s2)

{'chandigarh', 'Kolkata', 'Bihar', 'Patna', 'Haryana', 'Mumbai', 'Delhi'}

In [ ]:
s5=s2.intersection(s3)
print(s5)

{'chandigarh', 'Bihar', 'Delhi', 'Patna'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'google', 'banana', 'microsoft'}

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

print(x)
z=y.difference(x)

print(z)

{'cherry', 'banana', 'apple'}
{'google', 'microsoft'}

In [ ]:
Actors=[
	{
		"actor_id" : 1,
		"first_name" : "PENELOPE",
		"last_name" : "GUINESS",
		"Age":45,
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 2,
		"first_name" : "NICK",
		"last_name" : "WAHLBERG",
		"Age":35,
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 3,
		"first_name" : "ED",
		"last_name" : "CHASE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 4,
		"first_name" : "JENNIFER",
		"last_name" : "DAVIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 5,
		"first_name" : "JOHNNY",
		"last_name" : "LOLLOBRIGIDA",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 6,
		"first_name" : "BETTE",
		"last_name" : "NICHOLSON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 7,
		"first_name" : "GRACE",
		"last_name" : "MOSTEL",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 8,
		"first_name" : "MATTHEW",
		"last_name" : "JOHANSSON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 9,
		"first_name" : "JOE",
		"last_name" : "SWANK",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 10,
		"first_name" : "CHRISTIAN",
		"last_name" : "GABLE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 11,
		"first_name" : "ZERO",
		"last_name" : "CAGE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 12,
		"first_name" : "KARL",
		"last_name" : "BERRY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 13,
		"first_name" : "UMA",
		"last_name" : "WOOD",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 14,
		"first_name" : "VIVIEN",
		"last_name" : "BERGEN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 15,
		"first_name" : "CUBA",
		"last_name" : "OLIVIER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 16,
		"first_name" : "FRED",
		"last_name" : "COSTNER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 17,
		"first_name" : "HELEN",
		"last_name" : "VOIGHT",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 18,
		"first_name" : "DAN",
		"last_name" : "TORN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 19,
		"first_name" : "BOB",
		"last_name" : "FAWCETT",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 20,
		"first_name" : "LUCILLE",
		"last_name" : "TRACY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 21,
		"first_name" : "KIRSTEN",
		"last_name" : "PALTROW",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 22,
		"first_name" : "ELVIS",
		"last_name" : "MARX",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 23,
		"first_name" : "SANDRA",
		"last_name" : "KILMER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 24,
		"first_name" : "CAMERON",
		"last_name" : "STREEP",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 25,
		"first_name" : "KEVIN",
		"last_name" : "BLOOM",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 26,
		"first_name" : "RIP",
		"last_name" : "CRAWFORD",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 27,
		"first_name" : "JULIA",
		"last_name" : "MCQUEEN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 28,
		"first_name" : "WOODY",
		"last_name" : "HOFFMAN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 29,
		"first_name" : "ALEC",
		"last_name" : "WAYNE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 30,
		"first_name" : "SANDRA",
		"last_name" : "PECK",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 31,
		"first_name" : "SISSY",
		"last_name" : "SOBIESKI",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 32,
		"first_name" : "TIM",
		"last_name" : "HACKMAN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 33,
		"first_name" : "MILLA",
		"last_name" : "PECK",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 34,
		"first_name" : "AUDREY",
		"last_name" : "OLIVIER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 35,
		"first_name" : "JUDY",
		"last_name" : "DEAN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 36,
		"first_name" : "BURT",
		"last_name" : "DUKAKIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 37,
		"first_name" : "VAL",
		"last_name" : "BOLGER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 38,
		"first_name" : "TOM",
		"last_name" : "MCKELLEN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 39,
		"first_name" : "GOLDIE",
		"last_name" : "BRODY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 40,
		"first_name" : "JOHNNY",
		"last_name" : "CAGE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 41,
		"first_name" : "JODIE",
		"last_name" : "DEGENERES",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 42,
		"first_name" : "TOM",
		"last_name" : "MIRANDA",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 43,
		"first_name" : "KIRK",
		"last_name" : "JOVOVICH",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 44,
		"first_name" : "NICK",
		"last_name" : "STALLONE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 45,
		"first_name" : "REESE",
		"last_name" : "KILMER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 46,
		"first_name" : "PARKER",
		"last_name" : "GOLDBERG",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 47,
		"first_name" : "JULIA",
		"last_name" : "BARRYMORE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 48,
		"first_name" : "FRANCES",
		"last_name" : "DAY-LEWIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 49,
		"first_name" : "ANNE",
		"last_name" : "CRONYN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 50,
		"first_name" : "NATALIE",
		"last_name" : "HOPKINS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 51,
		"first_name" : "GARY",
		"last_name" : "PHOENIX",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 52,
		"first_name" : "CARMEN",
		"last_name" : "HUNT",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 53,
		"first_name" : "MENA",
		"last_name" : "TEMPLE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 54,
		"first_name" : "PENELOPE",
		"last_name" : "PINKETT",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 55,
		"first_name" : "FAY",
		"last_name" : "KILMER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 56,
		"first_name" : "DAN",
		"last_name" : "HARRIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 57,
		"first_name" : "JUDE",
		"last_name" : "CRUISE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 58,
		"first_name" : "CHRISTIAN",
		"last_name" : "AKROYD",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 59,
		"first_name" : "DUSTIN",
		"last_name" : "TAUTOU",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 60,
		"first_name" : "HENRY",
		"last_name" : "BERRY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 61,
		"first_name" : "CHRISTIAN",
		"last_name" : "NEESON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 62,
		"first_name" : "JAYNE",
		"last_name" : "NEESON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 63,
		"first_name" : "CAMERON",
		"last_name" : "WRAY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 64,
		"first_name" : "RAY",
		"last_name" : "JOHANSSON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 65,
		"first_name" : "ANGELA",
		"last_name" : "HUDSON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 66,
		"first_name" : "MARY",
		"last_name" : "TANDY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 67,
		"first_name" : "JESSICA",
		"last_name" : "BAILEY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 68,
		"first_name" : "RIP",
		"last_name" : "WINSLET",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 69,
		"first_name" : "KENNETH",
		"last_name" : "PALTROW",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 70,
		"first_name" : "MICHELLE",
		"last_name" : "MCCONAUGHEY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 71,
		"first_name" : "ADAM",
		"last_name" : "GRANT",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 72,
		"first_name" : "SEAN",
		"last_name" : "WILLIAMS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 73,
		"first_name" : "GARY",
		"last_name" : "PENN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 74,
		"first_name" : "MILLA",
		"last_name" : "KEITEL",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 75,
		"first_name" : "BURT",
		"last_name" : "POSEY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 76,
		"first_name" : "ANGELINA",
		"last_name" : "ASTAIRE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 77,
		"first_name" : "CARY",
		"last_name" : "MCCONAUGHEY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 78,
		"first_name" : "GROUCHO",
		"last_name" : "SINATRA",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 79,
		"first_name" : "MAE",
		"last_name" : "HOFFMAN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 80,
		"first_name" : "RALPH",
		"last_name" : "CRUZ",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 81,
		"first_name" : "SCARLETT",
		"last_name" : "DAMON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 82,
		"first_name" : "WOODY",
		"last_name" : "JOLIE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 83,
		"first_name" : "BEN",
		"last_name" : "WILLIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 84,
		"first_name" : "JAMES",
		"last_name" : "PITT",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 85,
		"first_name" : "MINNIE",
		"last_name" : "ZELLWEGER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 86,
		"first_name" : "GREG",
		"last_name" : "CHAPLIN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 87,
		"first_name" : "SPENCER",
		"last_name" : "PECK",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 88,
		"first_name" : "KENNETH",
		"last_name" : "PESCI",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 89,
		"first_name" : "CHARLIZE",
		"last_name" : "DENCH",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 90,
		"first_name" : "SEAN",
		"last_name" : "GUINESS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 91,
		"first_name" : "CHRISTOPHER",
		"last_name" : "BERRY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 92,
		"first_name" : "KIRSTEN",
		"last_name" : "AKROYD",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 93,
		"first_name" : "ELLEN",
		"last_name" : "PRESLEY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 94,
		"first_name" : "KENNETH",
		"last_name" : "TORN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 95,
		"first_name" : "DARYL",
		"last_name" : "WAHLBERG",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 96,
		"first_name" : "GENE",
		"last_name" : "WILLIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 97,
		"first_name" : "MEG",
		"last_name" : "HAWKE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 98,
		"first_name" : "CHRIS",
		"last_name" : "BRIDGES",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 99,
		"first_name" : "JIM",
		"last_name" : "MOSTEL",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 100,
		"first_name" : "SPENCER",
		"last_name" : "DEPP",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 101,
		"first_name" : "SUSAN",
		"last_name" : "DAVIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 102,
		"first_name" : "WALTER",
		"last_name" : "TORN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 103,
		"first_name" : "MATTHEW",
		"last_name" : "LEIGH",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 104,
		"first_name" : "PENELOPE",
		"last_name" : "CRONYN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 105,
		"first_name" : "SIDNEY",
		"last_name" : "CROWE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 106,
		"first_name" : "GROUCHO",
		"last_name" : "DUNST",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 107,
		"first_name" : "GINA",
		"last_name" : "DEGENERES",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 108,
		"first_name" : "WARREN",
		"last_name" : "NOLTE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 109,
		"first_name" : "SYLVESTER",
		"last_name" : "DERN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 110,
		"first_name" : "SUSAN",
		"last_name" : "DAVIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 111,
		"first_name" : "CAMERON",
		"last_name" : "ZELLWEGER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 112,
		"first_name" : "RUSSELL",
		"last_name" : "BACALL",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 113,
		"first_name" : "MORGAN",
		"last_name" : "HOPKINS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 114,
		"first_name" : "MORGAN",
		"last_name" : "MCDORMAND",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 115,
		"first_name" : "HARRISON",
		"last_name" : "BALE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 116,
		"first_name" : "DAN",
		"last_name" : "STREEP",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 117,
		"first_name" : "RENEE",
		"last_name" : "TRACY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 118,
		"first_name" : "CUBA",
		"last_name" : "ALLEN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 119,
		"first_name" : "WARREN",
		"last_name" : "JACKMAN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 120,
		"first_name" : "PENELOPE",
		"last_name" : "MONROE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 121,
		"first_name" : "LIZA",
		"last_name" : "BERGMAN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 122,
		"first_name" : "SALMA",
		"last_name" : "NOLTE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 123,
		"first_name" : "JULIANNE",
		"last_name" : "DENCH",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 124,
		"first_name" : "SCARLETT",
		"last_name" : "BENING",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 125,
		"first_name" : "ALBERT",
		"last_name" : "NOLTE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 126,
		"first_name" : "FRANCES",
		"last_name" : "TOMEI",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 127,
		"first_name" : "KEVIN",
		"last_name" : "GARLAND",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 128,
		"first_name" : "CATE",
		"last_name" : "MCQUEEN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 129,
		"first_name" : "DARYL",
		"last_name" : "CRAWFORD",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 130,
		"first_name" : "GRETA",
		"last_name" : "KEITEL",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 131,
		"first_name" : "JANE",
		"last_name" : "JACKMAN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 132,
		"first_name" : "ADAM",
		"last_name" : "HOPPER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 133,
		"first_name" : "RICHARD",
		"last_name" : "PENN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 134,
		"first_name" : "GENE",
		"last_name" : "HOPKINS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 135,
		"first_name" : "RITA",
		"last_name" : "REYNOLDS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 136,
		"first_name" : "ED",
		"last_name" : "MANSFIELD",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 137,
		"first_name" : "MORGAN",
		"last_name" : "WILLIAMS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 138,
		"first_name" : "LUCILLE",
		"last_name" : "DEE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 139,
		"first_name" : "EWAN",
		"last_name" : "GOODING",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 140,
		"first_name" : "WHOOPI",
		"last_name" : "HURT",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 141,
		"first_name" : "CATE",
		"last_name" : "HARRIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 142,
		"first_name" : "JADA",
		"last_name" : "RYDER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 143,
		"first_name" : "RIVER",
		"last_name" : "DEAN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 144,
		"first_name" : "ANGELA",
		"last_name" : "WITHERSPOON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 145,
		"first_name" : "KIM",
		"last_name" : "ALLEN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 146,
		"first_name" : "ALBERT",
		"last_name" : "JOHANSSON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 147,
		"first_name" : "FAY",
		"last_name" : "WINSLET",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 148,
		"first_name" : "EMILY",
		"last_name" : "DEE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 149,
		"first_name" : "RUSSELL",
		"last_name" : "TEMPLE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 150,
		"first_name" : "JAYNE",
		"last_name" : "NOLTE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 151,
		"first_name" : "GEOFFREY",
		"last_name" : "HESTON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 152,
		"first_name" : "BEN",
		"last_name" : "HARRIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 153,
		"first_name" : "MINNIE",
		"last_name" : "KILMER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 154,
		"first_name" : "MERYL",
		"last_name" : "GIBSON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 155,
		"first_name" : "IAN",
		"last_name" : "TANDY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 156,
		"first_name" : "FAY",
		"last_name" : "WOOD",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 157,
		"first_name" : "GRETA",
		"last_name" : "MALDEN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 158,
		"first_name" : "VIVIEN",
		"last_name" : "BASINGER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 159,
		"first_name" : "LAURA",
		"last_name" : "BRODY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 160,
		"first_name" : "CHRIS",
		"last_name" : "DEPP",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 161,
		"first_name" : "HARVEY",
		"last_name" : "HOPE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 162,
		"first_name" : "OPRAH",
		"last_name" : "KILMER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 163,
		"first_name" : "CHRISTOPHER",
		"last_name" : "WEST",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 164,
		"first_name" : "HUMPHREY",
		"last_name" : "WILLIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 165,
		"first_name" : "AL",
		"last_name" : "GARLAND",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 166,
		"first_name" : "NICK",
		"last_name" : "DEGENERES",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 167,
		"first_name" : "LAURENCE",
		"last_name" : "BULLOCK",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 168,
		"first_name" : "WILL",
		"last_name" : "WILSON",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 169,
		"first_name" : "KENNETH",
		"last_name" : "HOFFMAN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 170,
		"first_name" : "MENA",
		"last_name" : "HOPPER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 171,
		"first_name" : "OLYMPIA",
		"last_name" : "PFEIFFER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 172,
		"first_name" : "GROUCHO",
		"last_name" : "WILLIAMS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 173,
		"first_name" : "ALAN",
		"last_name" : "DREYFUSS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 174,
		"first_name" : "MICHAEL",
		"last_name" : "BENING",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 175,
		"first_name" : "WILLIAM",
		"last_name" : "HACKMAN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 176,
		"first_name" : "JON",
		"last_name" : "CHASE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 177,
		"first_name" : "GENE",
		"last_name" : "MCKELLEN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 178,
		"first_name" : "LISA",
		"last_name" : "MONROE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 179,
		"first_name" : "ED",
		"last_name" : "GUINESS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 180,
		"first_name" : "JEFF",
		"last_name" : "SILVERSTONE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 181,
		"first_name" : "MATTHEW",
		"last_name" : "CARREY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 182,
		"first_name" : "DEBBIE",
		"last_name" : "AKROYD",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 183,
		"first_name" : "RUSSELL",
		"last_name" : "CLOSE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 184,
		"first_name" : "HUMPHREY",
		"last_name" : "GARLAND",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 185,
		"first_name" : "MICHAEL",
		"last_name" : "BOLGER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 186,
		"first_name" : "JULIA",
		"last_name" : "ZELLWEGER",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 187,
		"first_name" : "RENEE",
		"last_name" : "BALL",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 188,
		"first_name" : "ROCK",
		"last_name" : "DUKAKIS",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 189,
		"first_name" : "CUBA",
		"last_name" : "BIRCH",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 190,
		"first_name" : "AUDREY",
		"last_name" : "BAILEY",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 191,
		"first_name" : "GREGORY",
		"last_name" : "GOODING",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 192,
		"first_name" : "JOHN",
		"last_name" : "SUVARI",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 193,
		"first_name" : "BURT",
		"last_name" : "TEMPLE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 194,
		"first_name" : "MERYL",
		"last_name" : "ALLEN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 195,
		"first_name" : "JAYNE",
		"last_name" : "SILVERSTONE",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 196,
		"first_name" : "BELA",
		"last_name" : "WALKEN",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 197,
		"first_name" : "REESE",
		"last_name" : "WEST",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 198,
		"first_name" : "MARY",
		"last_name" : "KEITEL",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 199,
		"first_name" : "JULIA",
		"last_name" : "FAWCETT",
		"last_update" : "2006-02-15 04:34:33"
	},
	{
		"actor_id" : 200,
		"first_name" : "THORA",
		"last_name" : "TEMPLE",
		"last_update" : "2006-02-15 04:34:33"
	}
]

In [ ]:
print(Actors[0].get("first_name"))

PENELOPE

In [ ]:
# Search Actor Details By Thier ActorId:
id =int(input("Enter Actor Id :"))
for a in Actors:
  for k in a:
    if id == a[k]:
      print("ID","\t","FIRSTNAME","\t","LASTNAME")
      print(a["actor_id"],"\t",a["first_name"],"\t",a["last_name"],end="\n")

Enter Actor Id :122
ID 	 FIRSTNAME 	 LASTNAME
122 	 SALMA 	 NOLTE

In [ ]:
# question : display All In Tabular form
for a in Actors:
   print(a["actor_id"],"\t",a["first_name"],"\t",a["last_name"],end="\n")

1 	 PENELOPE 	 GUINESS
2 	 NICK 	 WAHLBERG
3 	 ED 	 CHASE
4 	 JENNIFER 	 DAVIS
5 	 JOHNNY 	 LOLLOBRIGIDA
6 	 BETTE 	 NICHOLSON
7 	 GRACE 	 MOSTEL
8 	 MATTHEW 	 JOHANSSON
9 	 JOE 	 SWANK
10 	 CHRISTIAN 	 GABLE
11 	 ZERO 	 CAGE
12 	 KARL 	 BERRY
13 	 UMA 	 WOOD
14 	 VIVIEN 	 BERGEN
15 	 CUBA 	 OLIVIER
16 	 FRED 	 COSTNER
17 	 HELEN 	 VOIGHT
18 	 DAN 	 TORN
19 	 BOB 	 FAWCETT
20 	 LUCILLE 	 TRACY
21 	 KIRSTEN 	 PALTROW
22 	 ELVIS 	 MARX
23 	 SANDRA 	 KILMER
24 	 CAMERON 	 STREEP
25 	 KEVIN 	 BLOOM
26 	 RIP 	 CRAWFORD
27 	 JULIA 	 MCQUEEN
28 	 WOODY 	 HOFFMAN
29 	 ALEC 	 WAYNE
30 	 SANDRA 	 PECK
31 	 SISSY 	 SOBIESKI
32 	 TIM 	 HACKMAN
33 	 MILLA 	 PECK
34 	 AUDREY 	 OLIVIER
35 	 JUDY 	 DEAN
36 	 BURT 	 DUKAKIS
37 	 VAL 	 BOLGER
38 	 TOM 	 MCKELLEN
39 	 GOLDIE 	 BRODY
40 	 JOHNNY 	 CAGE
41 	 JODIE 	 DEGENERES
42 	 TOM 	 MIRANDA
43 	 KIRK 	 JOVOVICH
44 	 NICK 	 STALLONE
45 	 REESE 	 KILMER
46 	 PARKER 	 GOLDBERG
47 	 JULIA 	 BARRYMORE
48 	 FRANCES 	 DAY-LEWIS
49 	 ANNE 	 CRONYN
50 	 NATALIE 	 HOPKINS
51 	 GARY 	 PHOENIX
52 	 CARMEN 	 HUNT
53 	 MENA 	 TEMPLE
54 	 PENELOPE 	 PINKETT
55 	 FAY 	 KILMER
56 	 DAN 	 HARRIS
57 	 JUDE 	 CRUISE
58 	 CHRISTIAN 	 AKROYD
59 	 DUSTIN 	 TAUTOU
60 	 HENRY 	 BERRY
61 	 CHRISTIAN 	 NEESON
62 	 JAYNE 	 NEESON
63 	 CAMERON 	 WRAY
64 	 RAY 	 JOHANSSON
65 	 ANGELA 	 HUDSON
66 	 MARY 	 TANDY
67 	 JESSICA 	 BAILEY
68 	 RIP 	 WINSLET
69 	 KENNETH 	 PALTROW
70 	 MICHELLE 	 MCCONAUGHEY
71 	 ADAM 	 GRANT
72 	 SEAN 	 WILLIAMS
73 	 GARY 	 PENN
74 	 MILLA 	 KEITEL
75 	 BURT 	 POSEY
76 	 ANGELINA 	 ASTAIRE
77 	 CARY 	 MCCONAUGHEY
78 	 GROUCHO 	 SINATRA
79 	 MAE 	 HOFFMAN
80 	 RALPH 	 CRUZ
81 	 SCARLETT 	 DAMON
82 	 WOODY 	 JOLIE
83 	 BEN 	 WILLIS
84 	 JAMES 	 PITT
85 	 MINNIE 	 ZELLWEGER
86 	 GREG 	 CHAPLIN
87 	 SPENCER 	 PECK
88 	 KENNETH 	 PESCI
89 	 CHARLIZE 	 DENCH
90 	 SEAN 	 GUINESS
91 	 CHRISTOPHER 	 BERRY
92 	 KIRSTEN 	 AKROYD
93 	 ELLEN 	 PRESLEY
94 	 KENNETH 	 TORN
95 	 DARYL 	 WAHLBERG
96 	 GENE 	 WILLIS
97 	 MEG 	 HAWKE
98 	 CHRIS 	 BRIDGES
99 	 JIM 	 MOSTEL
100 	 SPENCER 	 DEPP
101 	 SUSAN 	 DAVIS
102 	 WALTER 	 TORN
103 	 MATTHEW 	 LEIGH
104 	 PENELOPE 	 CRONYN
105 	 SIDNEY 	 CROWE
106 	 GROUCHO 	 DUNST
107 	 GINA 	 DEGENERES
108 	 WARREN 	 NOLTE
109 	 SYLVESTER 	 DERN
110 	 SUSAN 	 DAVIS
111 	 CAMERON 	 ZELLWEGER
112 	 RUSSELL 	 BACALL
113 	 MORGAN 	 HOPKINS
114 	 MORGAN 	 MCDORMAND
115 	 HARRISON 	 BALE
116 	 DAN 	 STREEP
117 	 RENEE 	 TRACY
118 	 CUBA 	 ALLEN
119 	 WARREN 	 JACKMAN
120 	 PENELOPE 	 MONROE
121 	 LIZA 	 BERGMAN
122 	 SALMA 	 NOLTE
123 	 JULIANNE 	 DENCH
124 	 SCARLETT 	 BENING
125 	 ALBERT 	 NOLTE
126 	 FRANCES 	 TOMEI
127 	 KEVIN 	 GARLAND
128 	 CATE 	 MCQUEEN
129 	 DARYL 	 CRAWFORD
130 	 GRETA 	 KEITEL
131 	 JANE 	 JACKMAN
132 	 ADAM 	 HOPPER
133 	 RICHARD 	 PENN
134 	 GENE 	 HOPKINS
135 	 RITA 	 REYNOLDS
136 	 ED 	 MANSFIELD
137 	 MORGAN 	 WILLIAMS
138 	 LUCILLE 	 DEE
139 	 EWAN 	 GOODING
140 	 WHOOPI 	 HURT
141 	 CATE 	 HARRIS
142 	 JADA 	 RYDER
143 	 RIVER 	 DEAN
144 	 ANGELA 	 WITHERSPOON
145 	 KIM 	 ALLEN
146 	 ALBERT 	 JOHANSSON
147 	 FAY 	 WINSLET
148 	 EMILY 	 DEE
149 	 RUSSELL 	 TEMPLE
150 	 JAYNE 	 NOLTE
151 	 GEOFFREY 	 HESTON
152 	 BEN 	 HARRIS
153 	 MINNIE 	 KILMER
154 	 MERYL 	 GIBSON
155 	 IAN 	 TANDY
156 	 FAY 	 WOOD
157 	 GRETA 	 MALDEN
158 	 VIVIEN 	 BASINGER
159 	 LAURA 	 BRODY
160 	 CHRIS 	 DEPP
161 	 HARVEY 	 HOPE
162 	 OPRAH 	 KILMER
163 	 CHRISTOPHER 	 WEST
164 	 HUMPHREY 	 WILLIS
165 	 AL 	 GARLAND
166 	 NICK 	 DEGENERES
167 	 LAURENCE 	 BULLOCK
168 	 WILL 	 WILSON
169 	 KENNETH 	 HOFFMAN
170 	 MENA 	 HOPPER
171 	 OLYMPIA 	 PFEIFFER
172 	 GROUCHO 	 WILLIAMS
173 	 ALAN 	 DREYFUSS
174 	 MICHAEL 	 BENING
175 	 WILLIAM 	 HACKMAN
176 	 JON 	 CHASE
177 	 GENE 	 MCKELLEN
178 	 LISA 	 MONROE
179 	 ED 	 GUINESS
180 	 JEFF 	 SILVERSTONE
181 	 MATTHEW 	 CARREY
182 	 DEBBIE 	 AKROYD
183 	 RUSSELL 	 CLOSE
184 	 HUMPHREY 	 GARLAND
185 	 MICHAEL 	 BOLGER
186 	 JULIA 	 ZELLWEGER
187 	 RENEE 	 BALL
188 	 ROCK 	 DUKAKIS
189 	 CUBA 	 BIRCH
190 	 AUDREY 	 BAILEY
191 	 GREGORY 	 GOODING
192 	 JOHN 	 SUVARI
193 	 BURT 	 TEMPLE
194 	 MERYL 	 ALLEN
195 	 JAYNE 	 SILVERSTONE
196 	 BELA 	 WALKEN
197 	 REESE 	 WEST
198 	 MARY 	 KEITEL
199 	 JULIA 	 FAWCETT
200 	 THORA 	 TEMPLE

In [ ]:
person={
    "id":101,
    "name":"suraj",
    "age":22,
    "salary":23000
}

In [ ]:
print(person)

{'id': 101, 'name': 'suraj', 'age': 22, 'salary': 23000}

In [ ]:
#accessing key value
print(person.get("name")," ",person.get("salary"))
print(person["id"]," ",person["age"])

suraj   23000
101   22

In [ ]:
print(person.keys())

dict_keys(['id', 'name', 'age', 'salary'])

In [ ]:
print(person.values())

dict_values([101, 'suraj', 22, 23000])

In [ ]:
print(person.items())

dict_items([('id', 101), ('name', 'suraj'), ('age', 22), ('salary', 23000)])

In [ ]:
for k in person:
  print(k,":",person[k])

id : 101
name : suraj
age : 22
salary : 23000
post : Developer
dept : Software
Grade : A

In [ ]:
person.update({"dept":"Software"})

In [ ]:
x=person.setdefault("Grade","B")
print(x)

A

In [ ]:

name=("Suraj","Manan","Kamal")
city="Delhi"

students=dict.fromkeys(name,city)

In [ ]:
print(students)

{'Suraj': 'Delhi', 'Manan': 'Delhi', 'Kamal': 'Delhi'}

In [ ]:
person["post"]="Developer"

In [ ]:
emp=dict()

In [ ]:
key=input("Enter key :")
value=input("Enter value:")
emp.update({key:value})

Enter key :raj
Enter value:25000

In [ ]:
print(emp)

{'kamal': '24000', 'raj': '25000', '88': '567657'}

In [ ]:
Users={}

In [ ]:
key=input("Enter userid :")
value=input("Enter password:")
Users.update({key:value})

Enter userid :suraj
Enter password:su#123

In [ ]:
print(Users)

{'kamal': 'kamal123', 'manan': 'm12345', 'suraj': 'su#123'}

In [ ]:
def login():
  user=input("Enter user id:")
  passwrd=input("Enter user password:")
  if user in Users:
    if passwrd==Users[user]:
      print("login success")
    else:
      print("Login Failed")

In [ ]:
login()

Enter user id:kamal
Enter user password:k12345
Login Failed